<template>
  <Dialog :title="dialogTitle" v-model="dialogVisible">
    <el-form
      ref="formRef"
      :model="formData"
      :rules="formRules"
      label-width="100px"
      v-loading="formLoading"
    >
#foreach($column in $columns)
    #if ($column.createOperation || $column.updateOperation)
        #set ($dictType = $column.dictType)
        #set ($javaField = $column.javaField)
        #set ($javaType = $column.javaType)
        #set ($AttrName = $column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        #set ($comment = $column.columnComment)
        #set ($dictMethod = "getDictOptions")## Calculate which dict dict method to use
        #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
            #set ($dictMethod = "getIntDictOptions")
        #elseif ($javaType == "String")
            #set ($dictMethod = "getStrDictOptions")
        #elseif ($javaType == "Boolean")
            #set ($dictMethod = "getBoolDictOptions")
        #end
        #if ( $table.templateType == 2 && $column.id == $treeParentColumn.id )
      <el-form-item label="${comment}" prop="${javaField}">
        <el-tree-select
          v-model="formData.${javaField}"
          :data="${classNameVar}Tree"
          #if ($treeNameColumn.javaField == "name")
          :props="defaultProps"
          #else
          :props="{...defaultProps, label: '$treeNameColumn.javaField'}"
          #end
          check-strictly
          default-expand-all
          placeholder="Please select ${comment}"
        />
      </el-form-item>
        #elseif ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
      <el-form-item label="${comment}" prop="${javaField}">
        <el-input v-model="formData.${javaField}" placeholder="Please enter ${comment}" />
      </el-form-item>
        #elseif($column.htmlType == "imageUpload")## Image upload
      <el-form-item label="${comment}" prop="${javaField}">
        <UploadImg v-model="formData.${javaField}" />
      </el-form-item>
        #elseif($column.htmlType == "fileUpload")## File upload
      <el-form-item label="${comment}" prop="${javaField}">
        <UploadFile v-model="formData.${javaField}" />
      </el-form-item>
        #elseif($column.htmlType == "editor")## text editor
      <el-form-item label="${comment}" prop="${javaField}">
        <Editor v-model="formData.${javaField}" height="150px" />
      </el-form-item>
        #elseif($column.htmlType == "select")## Select box
      <el-form-item label="${comment}" prop="${javaField}">
        <el-select v-model="formData.${javaField}" placeholder="Please select ${comment}">
                #if ("" != $dictType)## There is a data dict
          <el-option
            v-for="dict in $dictMethod(DICT_TYPE.$dictType.toUpperCase())"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
                #else##No data dict
          <el-option label="Please select dict generation" value="" />
                #end
        </el-select>
      </el-form-item>
        #elseif($column.htmlType == "checkbox")## checkbox
      <el-form-item label="${comment}" prop="${javaField}">
        <el-checkbox-group v-model="formData.${javaField}">
                #if ("" != $dictType)## There is a data dict
          <el-checkbox
            v-for="dict in $dictMethod(DICT_TYPE.$dictType.toUpperCase())"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
                #else##No data dict
          <el-checkbox label="Please select dict generation" />
                #end
        </el-checkbox-group>
      </el-form-item>
        #elseif($column.htmlType == "radio")## Radio button
      <el-form-item label="${comment}" prop="${javaField}">
        <el-radio-group v-model="formData.${javaField}">
                #if ("" != $dictType)## There is a data dict
          <el-radio
            v-for="dict in $dictMethod(DICT_TYPE.$dictType.toUpperCase())"
            :key="dict.value"
            :label="dict.value"
          >
            {{ dict.label }}
          </el-radio>
                #else##No data dict
          <el-radio value="1">Please select dict generation</el-radio>
                #end
        </el-radio-group>
      </el-form-item>
        #elseif($column.htmlType == "datetime")## time box
      <el-form-item label="${comment}" prop="${javaField}">
        <el-date-picker
          v-model="formData.${javaField}"
          type="date"
          value-format="x"
          placeholder="Select ${comment}"
        />
      </el-form-item>
        #elseif($column.htmlType == "textarea")## Text input
      <el-form-item label="${comment}" prop="${javaField}">
        <el-input v-model="formData.${javaField}" type="textarea" placeholder="Please enter ${comment}" />
      </el-form-item>
        #end
    #end
#end
    </el-form>
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType == 10 || $table.templateType == 12 )
    <!-- Form of subtable -->
    <el-tabs v-model="subTabsName">
    #foreach ($subTable in $subTables)
      #set ($index = $foreach.count - 1)
      #set ($subClassNameVar = $subClassNameVars.get($index))
      #set ($subSimpleClassName = $subSimpleClassNames.get($index))
      #set ($subJoinColumn_strikeCase = $subJoinColumn_strikeCases.get($index))
      <el-tab-pane label="${subTable.classComment}" name="$subClassNameVar">
        <${subSimpleClassName}Form ref="${subClassNameVar}FormRef" :${subJoinColumn_strikeCase}="formData.id" />
      </el-tab-pane>
    #end
    </el-tabs>
#end
    <template #footer>
      <el-button @click="submitForm" type="primary" :disabled="formLoading">OK</el-button>
      <el-button @click="dialogVisible = false">Cancel</el-button>
    </template>
  </Dialog>
</template>
<script setup lang="ts">
import { getIntDictOptions, getStrDictOptions, getBoolDictOptions, DICT_TYPE } from '@/utils/dict'
import { ${simpleClassName}Api, ${simpleClassName} } from '@/api/${table.moduleName}/${table.businessName}'
## Special: tree table exclusive logic
#if ( $table.templateType == 2 )
import { defaultProps, handleTree } from '@/utils/tree'
#end
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType == 10 || $table.templateType == 12 )
#foreach ($subSimpleClassName in $subSimpleClassNames)
import ${subSimpleClassName}Form from './components/${subSimpleClassName}Form.vue'
#end
#end

/** ${table.classComment} form */
defineOptions({ name: '${simpleClassName}Form' })

const { t } = useI18n() // internationalization
const message = useMessage() // Message pop-up window

const dialogVisible = ref(false) // Whether to display the pop-up window
const dialogTitle = ref('') // The title of the pop-up window
const formLoading = ref(false) // The form is loading: 1) Data loading during modification; 2) Submit button disabled
const formType = ref('') // Type of form: create - new；update - Modify
const formData = ref({
#foreach ($column in $columns)
    #if ($column.createOperation || $column.updateOperation)
      #if ($column.htmlType == "checkbox")
  $column.javaField: [],
      #else
  $column.javaField: undefined,
      #end
    #end
#end
})
const formRules = reactive({
#foreach ($column in $columns)
    #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
        #set($comment=$column.columnComment)
  $column.javaField: [{ required: true, message: '${comment} cannot be empty', trigger: #if($column.htmlType == 'select')'change'#else'blur'#end }],
    #end
#end
})
const formRef = ref() // Form Ref
## Special: tree table exclusive logic
#if ( $table.templateType == 2 )
const ${classNameVar}Tree = ref() // tree structure
#end
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType == 10 || $table.templateType == 12 )
#if ( $subTables && $subTables.size() > 0 )

/** subtable form */
const subTabsName = ref('$subClassNameVars.get(0)')
#foreach ($subClassNameVar in $subClassNameVars)
const ${subClassNameVar}FormRef = ref()
#end
#end
#end

/** Open pop-up window */
const open = async (type: string, id?: number) => {
  dialogVisible.value = true
  dialogTitle.value = t('action.' + type)
  formType.value = type
  resetForm()
  // When modifying, set data
  if (id) {
    formLoading.value = true
    try {
      formData.value = await ${simpleClassName}Api.get${simpleClassName}(id)
    } finally {
      formLoading.value = false
    }
  }
## Special: tree table exclusive logic
#if ( $table.templateType == 2 )
  await get${simpleClassName}Tree()
#end
}
defineExpose({ open }) // Provide the open method for opening pop-up windows

/** Submit form */
const emit = defineEmits(['success']) // Define the success event for callback after successful operation
const submitForm = async () => {
  // Validation form
  await formRef.value.validate()
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType == 10 || $table.templateType == 12 )
#if ( $subTables && $subTables.size() > 0 )
  // Check subform
  #foreach ($subTable in $subTables)
  #set ($index = $foreach.count - 1)
  #set ($subClassNameVar = $subClassNameVars.get($index))
  try {
    await ${subClassNameVar}FormRef.value.validate()
  } catch (e) {
    subTabsName.value = '${subClassNameVar}'
    return
  }
  #end
#end
#end
  // Submit a request
  formLoading.value = true
  try {
    const data = formData.value as unknown as ${simpleClassName}
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType == 10 || $table.templateType == 12 )
#if ( $subTables && $subTables.size() > 0 )
    // Splicing data from subtables
  #foreach ($subTable in $subTables)
  #set ($index = $foreach.count - 1)
  #set ($subClassNameVar = $subClassNameVars.get($index))
    data.${subClassNameVar}#if ( $subTable.subJoinMany)s#end = ${subClassNameVar}FormRef.value.getData()
  #end
#end
#end
    if (formType.value === 'create') {
      await ${simpleClassName}Api.create${simpleClassName}(data)
      message.success(t('common.createSuccess'))
    } else {
      await ${simpleClassName}Api.update${simpleClassName}(data)
      message.success(t('common.updateSuccess'))
    }
    dialogVisible.value = false
    // Send event of successful operation
    emit('success')
  } finally {
    formLoading.value = false
  }
}

/** Reset form */
const resetForm = () => {
  formData.value = {
#foreach ($column in $columns)
  #if ($column.createOperation || $column.updateOperation)
      #if ($column.htmlType == "checkbox")
    $column.javaField: [],
      #else
    $column.javaField: undefined,
      #end
  #end
#end
  }
  formRef.value?.resetFields()
}
## Special: tree table exclusive logic
#if ( $table.templateType == 2 )

/** Get ${table.classComment} tree */
const get${simpleClassName}Tree = async () => {
  ${classNameVar}Tree.value = []
  const data = await ${simpleClassName}Api.get${simpleClassName}List()
  const root: Tree = { id: 0, name: 'Top ${table.classComment}', children: [] }
  root.children = handleTree(data, 'id', '${treeParentColumn.javaField}')
  ${classNameVar}Tree.value.push(root)
}
#end
</script>