<template>
  <view class="yd-page-container">
    <!-- Top navigation bar -->
    <wd-navbar
      title="${table.classComment}Details"
      left-arrow placeholder safe-area-inset-top fixed
      @click-left="handleBack"
    />

    <!-- Details -->
    <view>
      <wd-cell-group border>
#foreach($column in $columns)
  #if ($column.primaryKey || $column.listOperationResult || $column.createOperation || $column.updateOperation)
    #set ($javaField = $column.javaField)
    #set ($comment = $column.columnComment)
    #if ($column.dictType && "" != $column.dictType)
        <wd-cell title="${comment}">
          <dict-tag :type="DICT_TYPE.${column.dictType.toUpperCase()}" :value="formData?.${javaField}" />
        </wd-cell>
    #elseif ($column.javaType == "LocalDateTime")
        <wd-cell title="${comment}" :value="formatDateTime(formData?.${javaField}) || '-'" />
    #else
        <wd-cell title="${comment}" :value="formData?.${javaField} ?? '-'" />
    #end
  #end
#end
      </wd-cell-group>
    </view>

    <!-- Bottom operation button -->
    <view class="yd-detail-footer">
      <view class="yd-detail-footer-actions">
        <wd-button
          v-if="hasAccessByCodes(['${permissionPrefix}:update'])"
          class="flex-1" type="warning" @click="handleEdit"
        >
          Edit
        </wd-button>
        <wd-button
          v-if="hasAccessByCodes(['${permissionPrefix}:delete'])"
          class="flex-1" type="error" :loading="deleting" @click="handleDelete"
        >
          Delete
        </wd-button>
      </view>
    </view>
  </view>
</template>

<script lang="ts" setup>
#set ($hasDict = 0)
#foreach($column in $columns)
  #if ($hasDict == 0 && $column.dictType && "" != $column.dictType)
    #set ($hasDict = 1)
  #end
#end
#set ($hasDateTime = 0)
#foreach($column in $columns)
  #if ($hasDateTime == 0 && $column.javaType == "LocalDateTime")
    #set ($hasDateTime = 1)
  #end
#end
import type { ${simpleClassName} } from '@/api/${table.moduleName}/${table.businessName}'
import { onMounted, ref } from 'vue'
import { useToast } from 'wot-design-uni'
import { delete${simpleClassName}, get${simpleClassName} } from '@/api/${table.moduleName}/${table.businessName}'
import { useAccess } from '@/hooks/useAccess'
import { navigateBackPlus } from '@/utils'
#if ($hasDict == 1)
import { DICT_TYPE } from '@/utils/constants'
#end
#if ($hasDateTime == 1)
import { formatDateTime } from '@/utils/date'
#end

const props = defineProps<{
  id?: number | any
}>()

definePage({
  style: {
    navigationBarTitleText: '',
    navigationStyle: 'custom',
  },
})

const { hasAccessByCodes } = useAccess()
const toast = useToast()
const formData = ref<${simpleClassName}>()
const deleting = ref(false)

/** Return to previous page */
function handleBack() {
  navigateBackPlus('/pages-${table.moduleName}/${table.businessName}/index')
}

/** Load ${table.classComment} details */
async function getDetail() {
  if (!props.id) {
    return
  }
  try {
    toast.loading('Loading...')
    formData.value = await get${simpleClassName}(props.id)
  } finally {
    toast.close()
  }
}

/** Edit${table.classComment} */
function handleEdit() {
  uni.navigateTo({
    url: `/pages-${table.moduleName}/${table.businessName}/form/index?id=#[[${]]#props.id#[[}]]#`,
  })
}

/** Delete ${table.classComment} */
function handleDelete() {
  if (!props.id) {
    return
  }
  uni.showModal({
    title: 'Tips',
    content: 'Are you sure you want to delete this ${table.classComment}?',
    success: async (res) => {
      if (!res.confirm) {
        return
      }
      deleting.value = true
      try {
        await delete${simpleClassName}(props.id)
        toast.success('Delete successfully')
        setTimeout(() => {
          handleBack()
        }, 500)
      } finally {
        deleting.value = false
      }
    },
  })
}

/** initialization */
onMounted(() => {
  getDetail()
})
</script>

<style lang="scss" scoped>
</style>
