package ${basePackage}.module.${table.moduleName}.controller.${sceneEnum.basePackage}.${table.businessName}.vo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.*;
import java.util.*;
## Handling the introduction of BigDecimal fields
#foreach ($column in $columns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#break
#end
#end
## Handle the introduction of LocalDateTime field
#foreach ($column in $columns)
#if (${column.listOperationResult} && ${column.javaType} == "LocalDateTime")
import org.springframework.format.annotation.DateTimeFormat;
import java.time.LocalDateTime;
#break
#end
#end
## Process Excel export
import cn.idev.excel.annotation.*;
#foreach ($column in $columns)
#if ("$!column.dictType" != "")## Have set up data dict
import ${DictFormatClassName};
import ${DictConvertClassName};
#break
#end
#end

@Schema(description = "${sceneEnum.name} - ${table.classComment} Response VO")
@Data
@ExcelIgnoreUnannotated
public class ${sceneEnum.prefixClass}${table.className}RespVO {

## Process fields one by one
#foreach ($column in $columns)
#if (${column.listOperationResult})
## 1. Process Swagger annotations
    @Schema(description = "${column.columnComment}"#if (!${column.nullable}), requiredMode = Schema.RequiredMode.REQUIRED#end#if ("$!column.example" != ""), example = "${column.example}"#end)
## 2. Processing Excel exports
#if ("$!column.dictType" != "")##Handle enumeration values
    @ExcelProperty(value = "${column.columnComment}", converter = DictConvert.class)
    @DictFormat("${column.dictType}") // TODO Code optimization: It is recommended to set it to the corresponding DictTypeConstants enumeration class
#else
    @ExcelProperty("${column.columnComment}")
#end
## 3. Process field definitions
    private ${column.javaType} ${column.javaField};

#end
#end
}
