package ${basePackage}.module.${table.moduleName}.controller.${sceneEnum.basePackage}.${table.businessName}.vo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.*;
import java.util.*;
import ${jakartaPackage}.validation.constraints.*;
## Handling the introduction of BigDecimal fields
#foreach ($column in $columns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#break
#end
#end
## Handle the introduction of LocalDateTime field
#foreach ($column in $columns)
#if ((${column.createOperation} || ${column.updateOperation}) && ${column.javaType} == "LocalDateTime")
import org.springframework.format.annotation.DateTimeFormat;
import java.time.LocalDateTime;
#break
#end
#end
## Special: Exclusive logic for master and sub-tables
#foreach ($subTable in $subTables)
import ${basePackage}.module.${subTable.moduleName}.dal.dataobject.${subTable.businessName}.${subTable.className}DO;
#end

@Schema(description = "${sceneEnum.name} - ${table.classComment} Add/Modify Request VO")
@Data
public class ${sceneEnum.prefixClass}${table.className}SaveReqVO {

## Process fields one by one
#foreach ($column in $columns)
#if (${column.createOperation} || ${column.updateOperation})
## 1. Process Swagger annotations
    @Schema(description = "${column.columnComment}"#if (!${column.nullable}), requiredMode = Schema.RequiredMode.REQUIRED#end#if ("$!column.example" != ""), example = "${column.example}"#end)
## 2. Process Validator parameter verification
#if (!${column.nullable} && !${column.primaryKey})
#if (${column.javaType} == 'String')
    @NotEmpty(message = "${column.columnComment} cannot be empty")
#else
    @NotNull(message = "${column.columnComment} cannot be empty")
#end
#end
## 3. Process field definitions
    private ${column.javaType} ${column.javaField};

#end
#end
## Special: Exclusive logic for master and child tables (non-ERP mode)
#if ( $subTables && $subTables.size() > 0 && $table.templateType != 11 )
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
    #if ( $subTable.subJoinMany)
    @Schema(description = "${subTable.classComment} list")
    private List<${subTable.className}DO> ${subClassNameVars.get($index)}s;

    #else
    @Schema(description = "${subTable.classComment}")
    private ${subTable.className}DO ${subClassNameVars.get($index)};

    #end
#end
#end
}