package ${basePackage}.module.${table.moduleName}.dal.dataobject.${table.businessName};

import lombok.*;
import java.util.*;
#foreach ($column in $columns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#end
#if (${column.javaType} == "LocalDateTime")
import java.time.LocalDateTime;
#end
#end
import com.baomidou.mybatisplus.annotation.*;
import ${BaseDOClassName};
## Handle Excel export + Schema annotations (DO mode only)
#if ($voType == 20)
import io.swagger.v3.oas.annotations.media.Schema;
import cn.idev.excel.annotation.*;
#foreach ($column in $columns)
    #if ("$!column.dictType" != "")## Have set up data dict
		import ${DictFormatClassName};
		import ${DictConvertClassName};
        #break
    #end
#end
#end

/**
 * ${table.classComment} DO
 *
 * @author ${table.author}
 */
@TableName("${table.tableName.toLowerCase()}")
@KeySequence("${table.tableName.toLowerCase()}_seq") // Primary key auto-increment for Oracle, PostgreSQL, Kingbase, DB2, H2 databases. If it is a database such as MySQL, you DO not need to write it.
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
@Builder
@NoArgsConstructor
@AllArgsConstructor
## Handle Excel export + Schema annotations (DO mode only)
#if ($voType == 20)
@Schema(description = "${sceneEnum.name} - ${table.classComment} Response VO")
@ExcelIgnoreUnannotated
#end
public class ${table.className}DO extends BaseDO {

## Special: tree table exclusive logic
#if ( $table.templateType == 2 )
    public static final Long ${treeParentColumn_javaField_underlineCase.toUpperCase()}_ROOT = 0L;

#end
#foreach ($column in $columns)
#if (!${baseDOFields.contains(${column.javaField})})##Exclude fields from BaseDO
    /**
     * ${column.columnComment}
    #if ("$!column.dictType" != "")##Handle enumeration values
     *
     * Enumeration {@link TODO ${column.dictType} corresponding class}
    #end
     */
    #if (${column.primaryKey})##Handle primary keys
    @TableId#if (${column.javaType} == 'String')(type = IdType.INPUT)#end
    #end
#if ($voType == 20)
## 1. Process Swagger annotations
    @Schema(description = "${column.columnComment}"#if (!${column.nullable}), requiredMode = Schema.RequiredMode.REQUIRED#end#if ("$!column.example" != ""), example = "${column.example}"#end)
## 2. Processing Excel exports
#if ("$!column.dictType" != "")##Handle enumeration values
    @ExcelProperty(value = "${column.columnComment}", converter = DictConvert.class)
    @DictFormat("${column.dictType}") // TODO Code optimization: It is recommended to set it to the corresponding DictTypeConstants enumeration class
#else
    @ExcelProperty("${column.columnComment}")
#end
#end
## 3. Process field definitions
    private ${column.javaType} ${column.javaField};
#end
#end

## Special: Exclusive logic for master and child tables (non-ERP mode)
#if ( $voType == 20 && $subTables && $subTables.size() > 0 && $table.templateType != 11 )
    #foreach ($subTable in $subTables)
        #set ($index = $foreach.count - 1)
        #if ( $subTable.subJoinMany)
    /**
    * ${subTable.classComment} list
    */
    @Schema(description = "${subTable.classComment} list")
    @TableField(exist = false)
    private List<${subTable.className}DO> ${subClassNameVars.get($index)}s;
        #else
    /**
    * ${subTable.classComment}
    */
    @Schema(description = "${subTable.classComment}")
	@TableField(exist = false)
    private ${subTable.className}DO ${subClassNameVars.get($index)};
        #end
    #end
#end

}
