#set ($subTable = $subTables.get($subIndex))##current table
#set ($subColumns = $subColumnsList.get($subIndex))##Current field array
package ${basePackage}.module.${subTable.moduleName}.dal.dataobject.${subTable.businessName};

import lombok.*;
import java.util.*;
#foreach ($column in $subColumns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#end
#if (${column.javaType} == "LocalDateTime")
import java.time.LocalDateTime;
#end
#end
import com.baomidou.mybatisplus.annotation.*;
import ${BaseDOClassName};
## Handle Schema annotations (DO mode only)
#if ($voType == 20)
import io.swagger.v3.oas.annotations.media.Schema;
#foreach ($column in $columns)
    #if ("$!column.dictType" != "")## Have set up data dict
        import ${DictFormatClassName};
        import ${DictConvertClassName};
        #break
    #end
#end
#end

/**
 * ${subTable.classComment} DO
 *
 * @author ${subTable.author}
 */
@TableName("${subTable.tableName.toLowerCase()}")
@KeySequence("${subTable.tableName.toLowerCase()}_seq") // Primary key auto-increment for Oracle, PostgreSQL, Kingbase, DB2, H2 databases. If it is a database such as MySQL, you DO not need to write it.
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
@Builder
@NoArgsConstructor
@AllArgsConstructor
## Handle Schema annotations (DO mode only)
#if ($voType == 20)
@Schema(description = "${sceneEnum.name} - ${table.classComment} Response VO")
#end
public class ${subTable.className}DO extends BaseDO {

#foreach ($column in $subColumns)
#if (!${baseDOFields.contains(${column.javaField})})##Exclude fields from BaseDO
    /**
     * ${column.columnComment}
    #if ("$!column.dictType" != "")##Handle enumeration values
     *
     * Enumeration {@link TODO ${column.dictType} corresponding class}
    #end
     */
    #if (${column.primaryKey})##Handle primary keys
    @TableId#if (${column.javaType} == 'String')(type = IdType.INPUT)#end
    #end
#if ($voType == 20)
## 1. Process Swagger annotations
    @Schema(description = "${column.columnComment}"#if (!${column.nullable}), requiredMode = Schema.RequiredMode.REQUIRED#end#if ("$!column.example" != ""), example = "${column.example}"#end)
#end
## 2. Process field definitions
    private ${column.javaType} ${column.javaField};
#end
#end

}