<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.module.${table.moduleName}.dal.mysql.${table.businessName}.${table.className}Mapper">

    <!--
        Under normal circumstances, use Mapper as much as possible to perform CRUD additions, deletions, modifications and queries.
        Only use XML to write SQL for scenarios that cannot be met, such as multi-table related queries.
        The code generator currently only generates the Mapper XML file itself. It is more recommended to use the MybatisX rapid development plug-in to generate queries.
        The documentation can be found at: https://www.iocoder.cn/MyBatis/x-plugins/
     -->

</mapper>