import type {BasicColumn, FormSchema} from '@/components/Table'
import {useRender} from '@/components/Table'
import {DICT_TYPE, getDictOptions} from '@/utils/dict'

export const columns: BasicColumn[] = [
#foreach($column in $columns)
#if ($column.listOperationResult)
  #set ($dictType=$column.dictType)
  #set ($javaField = $column.javaField)
  #set ($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
  #set ($comment=$column.columnComment)
#if ($column.javaType == "LocalDateTime")## time type
  {
    title: '${comment}',
    dataIndex: '${javaField}',
    width: 180,
    customRender: ({ text }) => {
      return useRender.renderDate(text)
    },
  },
#elseif("" != $column.dictType)## data dict
  {
    title: '${comment}',
    dataIndex: '${javaField}',
    width: 180,
    customRender: ({ text }) => {
      return useRender.renderDict(text, DICT_TYPE.$dictType.toUpperCase())
    },
  },
#else
  {
    title: '${comment}',
    dataIndex: '${javaField}',
    width: 160,
  },
#end
#end
#end
]

export const searchFormSchema: FormSchema[] = [
#foreach($column in $columns)
#if ($column.listOperation)
  #set ($dictType=$column.dictType)
  #set ($javaType = $column.javaType)
  #set ($javaField = $column.javaField)
  #set ($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
  #set ($comment=$column.columnComment)
  #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
    #set ($dictMethod = "number")
  #elseif ($javaType == "String")
    #set ($dictMethod = "string")
  #elseif ($javaType == "Boolean")
    #set ($dictMethod = "boolean")
  #end
  {
    label: '${comment}',
    field: '${javaField}',
  #if ($column.htmlType == "input")
    component: 'Input',
  #elseif ($column.htmlType == "select")
    component: 'Select',
    componentProps: {
      #if ("" != $dictType)## When the dictType data dict is set
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else## When the dictType data dict is not set
        options: [],
      #end
    },
  #elseif ($column.htmlType == "radio")
    component: 'RadioButtonGroup',
    componentProps: {
      #if ("" != $dictType)## When the dictType data dict is set
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else## When the dictType data dict is not set
        options: [],
      #end
    },
  #elseif($column.htmlType == "datetime")
    component: 'RangePicker',
    #end
    colProps: { span: 8 },
  },
#end
#end
]

export const createFormSchema: FormSchema[] = [
  {
    label: 'ID',
    field: 'id',
    show: false,
    component: 'Input',
  },
#foreach($column in $columns)
#if ($column.createOperation)
  #set ($dictType = $column.dictType)
  #set ($javaType = $column.javaType)
  #set ($javaField = $column.javaField)
  #set ($AttrName = $column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
  #set ($comment = $column.columnComment)
  #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
    #set ($dictMethod = "number")
  #elseif ($javaType == "String")
    #set ($dictMethod = "string")
  #elseif ($javaType == "Boolean")
    #set ($dictMethod = "boolean")
  #end
#if (!$column.primaryKey)## Ignore the primary key, DO not use it in the form
  {
    label: '${comment}',
    field: '${javaField}',
  #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
    required: true,
    #end
  #if ($column.htmlType == "input")
    component: 'Input',
  #elseif($column.htmlType == "imageUpload")## Image upload
    component: 'FileUpload',
    componentProps: {
      fileType: 'image',
      maxCount: 1,
    },
  #elseif($column.htmlType == "fileUpload")## File upload
    component: 'FileUpload',
    componentProps: {
      fileType: 'file',
      maxCount: 1,
    },
  #elseif($column.htmlType == "editor")## text editor
    component: 'Editor',
  #elseif($column.htmlType == "select")## Select box
    component: 'Select',
    componentProps: {
      #if ("" != $dictType)## There is a data dict
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else##No data dict
        options:[],
      #end
    },
  #elseif($column.htmlType == "checkbox")## checkbox
    component: 'Checkbox',
    componentProps: {
      #if ("" != $dictType)## There is a data dict
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else##No data dict
        options:[],
      #end
    },
  #elseif($column.htmlType == "radio")## Radio button
    component: 'RadioButtonGroup',
    componentProps: {
      #if ("" != $dictType)## There is a data dict
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else##No data dict
        options:[],
      #end
    },
  #elseif($column.htmlType == "datetime")## time box
    component: 'DatePicker',
    componentProps: {
      showTime: true,
      format: 'YYYY-MM-DD HH:mm:ss',
      valueFormat: 'x',
    },
  #elseif($column.htmlType == "textarea")## Textarea
    component: 'InputTextArea',
  #end
  },
#end
#end
#end
]

export const updateFormSchema: FormSchema[] = [
  {
    label: 'ID',
    field: 'id',
    show: false,
    component: 'Input',
  },
#foreach($column in $columns)
#if ($column.updateOperation)
#set ($dictType = $column.dictType)
#set ($javaType = $column.javaType)
#set ($javaField = $column.javaField)
#set ($AttrName = $column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#set ($comment = $column.columnComment)
#if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
  #set ($dictMethod = "number")
#elseif ($javaType == "String")
  #set ($dictMethod = "string")
#elseif ($javaType == "Boolean")
  #set ($dictMethod = "boolean")
#end
  #if (!$column.primaryKey)## Ignore the primary key, DO not use it in the form
  {
    label: '${comment}',
    field: '${javaField}',
    #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
    required: true,
    #end
    #if ($column.htmlType == "input")
    component: 'Input',
    #elseif($column.htmlType == "imageUpload")## Image upload
    component: 'FileUpload',
    componentProps: {
      fileType: 'image',
      maxCount: 1,
    },
    #elseif($column.htmlType == "fileUpload")## File upload
    component: 'FileUpload',
    componentProps: {
      fileType: 'file',
      maxCount: 1,
    },
    #elseif($column.htmlType == "editor")## text editor
    component: 'Editor',
    #elseif($column.htmlType == "select")## Select box
    component: 'Select',
    componentProps: {
      #if ("" != $dictType)## There is a data dict
      options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else##No data dict
      options:[],
      #end
    },
    #elseif($column.htmlType == "checkbox")## checkbox
    component: 'Checkbox',
    componentProps: {
      #if ("" != $dictType)## There is a data dict
      options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else##No data dict
      options:[],
      #end
    },
    #elseif($column.htmlType == "radio")## Radio button
    component: 'RadioButtonGroup',
    componentProps: {
      #if ("" != $dictType)## There is a data dict
      options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
      #else##No data dict
      options:[],
      #end
    },
    #elseif($column.htmlType == "datetime")## time box
    component: 'DatePicker',
    componentProps: {
      showTime: true,
      format: 'YYYY-MM-DD HH:mm:ss',
      valueFormat: 'x',
    },
    #elseif($column.htmlType == "textarea")## Textarea
    component: 'InputTextArea',
    #end
  },
  #end
#end
#end
]