#set ($subTable = $subTables.get($subIndex))##current table
#set ($subColumns = $subColumnsList.get($subIndex))##Current field array
#set ($subJoinColumn = $subJoinColumns.get($subIndex))##Current join field
#set ($subSimpleClassName = $subSimpleClassNames.get($subIndex))
<script lang="ts" setup>
import type { Rule } from 'ant-design-vue/es/form';
import type { ${simpleClassName}Api } from '#/api/${table.moduleName}/${table.businessName}';

import { computed, ref } from 'vue';

import { useVbenModal } from '@vben/common-ui';
import { DICT_TYPE } from '@vben/constants';
import { getDictOptions } from '@vben/hooks';
import { Tinymce as RichTextarea } from '#/components/tinymce';
import { ImageUpload, FileUpload } from "#/components/upload";
import { message, Tabs, Form, Input, Textarea, Select, RadioGroup, Radio, CheckboxGroup, Checkbox, DatePicker, TreeSelect } from 'ant-design-vue';

import { $t } from '#/locales';

import { get${subSimpleClassName}, create${subSimpleClassName}, update${subSimpleClassName} } from '#/api/${table.moduleName}/${table.businessName}';

const emit = defineEmits(['success']);
const getTitle = computed(() => {
  return formData.value?.id
      ? $t('ui.actionTitle.edit', ['${subTable.classComment}'])
      : $t('ui.actionTitle.create', ['${subTable.classComment}']);
});

const formRef = ref();
const formData = ref<Partial<${simpleClassName}Api.${subSimpleClassName}>>({
  #foreach ($column in $subColumns)
    #if ($column.createOperation || $column.updateOperation)
      #if ($column.htmlType == "checkbox")
          $column.javaField: [],
      #else
          $column.javaField: undefined,
      #end
    #end
  #end
});
const rules: Record<string, Rule[]> = {
  #foreach ($column in $subColumns)
    #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
      #set($comment=$column.columnComment)
        $column.javaField: [{ required: true, message: '${comment} cannot be empty', trigger: #if($column.htmlType == 'select')'change'#else'blur'#end }],
    #end
  #end
};

const [Modal, modalApi] = useVbenModal({
  async onConfirm() {
    await formRef.value?.validate();

    modalApi.lock();
    // Submit form
    const data = formData.value as ${simpleClassName}Api.${subSimpleClassName};
    try {
      await (formData.value?.id ? update${subSimpleClassName}(data) : create${subSimpleClassName}(data));
      // Close and prompt
      await modalApi.close();
      emit('success');
      message.success({
        content: $t('ui.actionMessage.operationSuccess'),
      });
    } finally {
      modalApi.unlock();
    }
  },
  async onOpenChange(isOpen: boolean) {
    if (!isOpen) {
      resetForm()
      return;
    }

    // Load data
    let data = modalApi.getData<${simpleClassName}Api.${subSimpleClassName}>();
    if (!data) {
      return;
    }
    if (data.id) {
      modalApi.lock();
      try {
        data = await get${subSimpleClassName}(data.id);
      } finally {
        modalApi.unlock();
      }
    }
    // set to values
    formData.value = data;
  },
});

/** Reset form */
function resetForm(){
  formData.value = {
    #foreach ($column in $subColumns)
      #if ($column.createOperation || $column.updateOperation)
        #if ($column.htmlType == "checkbox")
            $column.javaField: [],
        #else
            $column.javaField: undefined,
        #end
      #end
    #end
  };
  formRef.value?.resetFields();
}
</script>

<template>
  <Modal :title="getTitle">
    <Form
      ref="formRef"
      :model="formData"
      :rules="rules"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 18 }"
    >
      #foreach($column in $subColumns)
        #if ($column.createOperation || $column.updateOperation)
          #set ($dictType = $column.dictType)
          #set ($javaField = $column.javaField)
          #set ($javaType = $column.javaType)
          #set ($comment = $column.columnComment)
          #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
            #set ($dictMethod = "number")
          #elseif ($javaType == "String")
            #set ($dictMethod = "string")
          #elseif ($javaType == "Boolean")
            #set ($dictMethod = "boolean")
          #end
          #if ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
            <Form.Item label="${comment}" name="${javaField}">
              <Input v-model:value="formData.${javaField}" placeholder="Please enter ${comment}" />
            </Form.Item>
          #elseif($column.htmlType == "imageUpload")## Image upload
            <Form.Item label="${comment}" name="${javaField}">
              <ImageUpload v-model:value="formData.${javaField}" />
            </Form.Item>
          #elseif($column.htmlType == "fileUpload")## File upload
            <Form.Item label="${comment}" name="${javaField}">
              <FileUpload v-model:value="formData.${javaField}" />
            </Form.Item>
          #elseif($column.htmlType == "editor")## text editor
            <Form.Item label="${comment}" name="${javaField}">
              <RichTextarea v-model="formData.${javaField}" height="500px" />
            </Form.Item>
          #elseif($column.htmlType == "select")## Select box
            <Form.Item label="${comment}" name="${javaField}">
              <Select v-model:value="formData.${javaField}" placeholder="Please select ${comment}">
                #if ("" != $dictType)## There is a data dict
                  <Select.Option
                          v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                          :key="dict.value"
                          :value="dict.value"
                  >
                    {{ dict.label }}
                  </Select.Option>
                #else##No data dict
                  <Select.Option label="Please select dict generation" value="" />
                #end
              </Select>
            </Form.Item>
          #elseif($column.htmlType == "checkbox")## checkbox
            <Form.Item label="${comment}" name="${javaField}">
              <CheckboxGroup v-model:value="formData.${javaField}">
                #if ("" != $dictType)## There is a data dict
                  <Checkbox
                          v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                          :key="dict.value"
                          :value="dict.value"
                  >
                    {{ dict.label }}
                  </Checkbox>
                #else##No data dict
                  <Checkbox label="Please select dict generation" />
                #end
              </CheckboxGroup>
            </Form.Item>
          #elseif($column.htmlType == "radio")## Radio button
            <Form.Item label="${comment}" name="${javaField}">
              <RadioGroup v-model:value="formData.${javaField}">
                #if ("" != $dictType)## There is a data dict
                  <Radio
                          v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                          :key="dict.value"
                          :value="dict.value"
                  >
                    {{ dict.label }}
                  </Radio>
                #else##No data dict
                  <Radio value="1">Please select dict generation</Radio>
                #end
              </RadioGroup>
            </Form.Item>
          #elseif($column.htmlType == "datetime")## time box
            <Form.Item label="${comment}" name="${javaField}">
              <DatePicker
                      v-model:value="formData.${javaField}"
                      valueFormat="x"
                      placeholder="Select ${comment}"
              />
            </Form.Item>
          #elseif($column.htmlType == "textarea")## Text input
            <Form.Item label="${comment}" name="${javaField}">
              <Textarea v-model:value="formData.${javaField}" placeholder="Please enter ${comment}" />
            </Form.Item>
          #end
        #end
      #end
    </Form>
  </Modal>
</template>
