#set ($subTable = $subTables.get($subIndex))##current table
#set ($subColumns = $subColumnsList.get($subIndex))##Current field array
#set ($subJoinColumn = $subJoinColumns.get($subIndex))##Current join field
#set ($subSimpleClassName = $subSimpleClassNames.get($subIndex))
#set ($subClassNameVar = $subClassNameVars.get($subIndex))
#set ($SubJoinColumnName = $subJoinColumn.javaField.substring(0,1).toUpperCase() + ${subJoinColumn.javaField.substring(1)})##Capitalize first letter
<script lang="ts" setup>
import type { ${simpleClassName}Api } from '#/api/${table.moduleName}/${table.businessName}';

import { computed, ref, h, onMounted, watch, nextTick } from 'vue';

import { DICT_TYPE } from '@vben/constants';
import { getDictOptions } from '@vben/hooks';

import { message, Tabs, Form, Input, Textarea, Button, Select, RadioGroup, Radio, CheckboxGroup, Checkbox, DatePicker } from 'ant-design-vue';
import { $t } from '#/locales';

#if ($subTable.subJoinMany) ## one to many
import type { VxeTableInstance } from '#/adapter/vxe-table';
import { Plus } from "@vben/icons";
import { VxeColumn, VxeTable } from '#/adapter/vxe-table';
import { ImageUpload, FileUpload } from "#/components/upload";
import { get${subSimpleClassName}ListBy${SubJoinColumnName} } from '#/api/${table.moduleName}/${table.businessName}';
#else
import type { Rule } from 'ant-design-vue/es/form';
import { Tinymce as RichTextarea } from '#/components/tinymce';
import { ImageUpload, FileUpload } from "#/components/upload";
import { get${subSimpleClassName}By${SubJoinColumnName} } from '#/api/${table.moduleName}/${table.businessName}';
#end

const props = defineProps<{
   ${subJoinColumn.javaField}?: number // ${subJoinColumn.columnComment}（Related fields of the main table)
}>()

#if ($subTable.subJoinMany) ## one to many
const list = ref<${simpleClassName}Api.${subSimpleClassName}[]>([]) // list data
const tableRef = ref<VxeTableInstance>();

/** Add ${subTable.classComment} */
async function handleAdd() {
  await tableRef.value?.insertAt({} as ${simpleClassName}Api.${subSimpleClassName}, -1);
}

/** Delete ${subTable.classComment} */
async function handleDelete(row: ${simpleClassName}Api.${subSimpleClassName}) {
  await tableRef.value?.remove(row);
}

/** Provide methods to obtain table data for parent components to call */
defineExpose({
  getData: (): ${simpleClassName}Api.${subSimpleClassName}[] => {
    const data = list.value as ${simpleClassName}Api.${subSimpleClassName}[];
    const removeRecords = tableRef.value?.getRemoveRecords() as ${simpleClassName}Api.${subSimpleClassName}[];
    const insertRecords = tableRef.value?.getInsertRecords() as ${simpleClassName}Api.${subSimpleClassName}[];
    return [
      ...data.filter(
        (row) => !removeRecords.some((removed) => removed.id === row.id),
      ),
      ...insertRecords.map((row: any) => ({ ...row, id: undefined })),
    ];
  },
});

/** Monitor changes in the associated fields of the main table and load the corresponding sub-table data */
watch(
    () => props.${subJoinColumn.javaField},
    async (val) => {
      if (!val) {
        return;
      }
      list.value = await get${subSimpleClassName}ListBy${SubJoinColumnName}(props.${subJoinColumn.javaField}!);
    },
    { immediate: true },
);
#else
const formRef = ref();
const formData = ref<Partial<${simpleClassName}Api.${subSimpleClassName}>>({
    #foreach ($column in $subColumns)
        #if ($column.createOperation || $column.updateOperation)
            #if ($column.htmlType == "checkbox")
                    $column.javaField: [],
            #else
                    $column.javaField: undefined,
            #end
        #end
    #end
});
const rules: Record<string, Rule[]> = {
    #foreach ($column in $subColumns)
        #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
            #set($comment=$column.columnComment)
                $column.javaField: [{ required: true, message: '${comment} cannot be empty', trigger: #if($column.htmlType == 'select')'change'#else'blur'#end }],
        #end
    #end
};
/** Expose form verification methods and form value acquisition methods */
defineExpose({
  validate: async () => await formRef.value?.validate(),
  getValues: ()=> formData.value,
});

/** Monitor changes in the associated fields of the main table and load the corresponding sub-table data */
watch(
    () => props.${subJoinColumn.javaField},
    async (val) => {
      if (!val) {
        return;
      }
      await nextTick();
      formData.value = await get${subSimpleClassName}By${SubJoinColumnName}(props.${subJoinColumn.javaField}!);
    },
    { immediate: true },
);
#end
</script>

<template>
#if ($subTable.subJoinMany) ## one to many
  <VxeTable ref="tableRef" :data="list" show-overflow class="mx-4">
      #foreach($column in $subColumns)
          #if ($column.createOperation || $column.updateOperation)
              #set ($comment = $column.columnComment)
              #set ($javaField = $column.javaField)
              #set ($javaType = $column.javaType)
              #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                  #set ($dictMethod = "number")
              #elseif ($javaType == "String")
                  #set ($dictMethod = "string")
              #elseif ($javaType == "Boolean")
                  #set ($dictMethod = "boolean")
              #end
              #if ( $column.id == $subJoinColumn.id) ## Special: Ignore the join field of the master and child tables and DO not need to fill it in.
              #elseif ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <Input v-model:value="row.${javaField}" />
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "imageUpload")## Image upload
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <ImageUpload v-model:value="row.${javaField}" />
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "fileUpload")## File upload
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <FileUpload v-model:value="row.${javaField}" />
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "select")## Select box
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <Select v-model:value="row.${javaField}" placeholder="Please select ${comment}">
                        #if ("" != $dictType)## There is a data dict
                          <Select.Option
                              v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                              :key="dict.value"
                              :value="dict.value"
                          >
                            {{ dict.label }}
                          </Select.Option>
                        #else##No data dict
                          <Select.Option label="Please select dict generation" value="" />
                        #end
                    </Select>
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "checkbox")## checkbox
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <CheckboxGroup v-model:value="row.${javaField}">
                        #if ("" != $dictType)## There is a data dict
                          <Checkbox
                              v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                              :key="dict.value"
                              :value="dict.value"
                          >
                            {{ dict.label }}
                          </Checkbox>
                        #else##No data dict
                          <Checkbox label="Please select dict generation" />
                        #end
                    </CheckboxGroup>
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "radio")## Radio button
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <RadioGroup v-model:value="row.${javaField}">
                        #if ("" != $dictType)## There is a data dict
                          <Radio
                              v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                              :key="dict.value"
                              :value="dict.value"
                          >
                            {{ dict.label }}
                          </Radio>
                        #else##No data dict
                          <Radio value="1">Please select dict generation</Radio>
                        #end
                    </RadioGroup>
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "datetime")## time box
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <DatePicker
                        v-model:value="row.${javaField}"
                        :showTime="true"
                        format="YYYY-MM-DD HH:mm:ss"
                        valueFormat='x'
                    />
                  </template>
                </VxeColumn>
              #elseif($column.htmlType == "textarea" || $column.htmlType == "editor")## Text input
                <VxeColumn field="${javaField}" title="${comment}" align="center">
                  <template #default="{ row }">
                    <Textarea v-model:value="row.${javaField}" />
                  </template>
                </VxeColumn>
              #end
          #end
      #end
    <VxeColumn field="operation" title="Operation" align="center">
      <template #default="{ row }">
        <Button
            size="small"
            type="link"
            danger
            @click="handleDelete(row)"
            v-access:code="['${permissionPrefix}:delete']"
        >
          {{ $t('ui.actionTitle.delete') }}
        </Button>
      </template>
    </VxeColumn>
  </VxeTable>
  <div class="flex justify-center mt-4">
    <Button :icon="h(Plus)" type="primary" ghost @click="handleAdd" v-access:code="['${permissionPrefix}:create']">
      {{ $t('ui.actionTitle.create', ['${subTable.classComment}']) }}
    </Button>
  </div>
#else
  <Form
      ref="formRef"
      class="mx-4"
      :model="formData"
      :rules="rules"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 18 }"
  >
      #foreach($column in $subColumns)
          #if ($column.createOperation || $column.updateOperation)
              #set ($dictType = $column.dictType)
              #set ($javaField = $column.javaField)
              #set ($javaType = $column.javaType)
              #set ($comment = $column.columnComment)
              #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                  #set ($dictMethod = "number")
              #elseif ($javaType == "String")
                  #set ($dictMethod = "string")
              #elseif ($javaType == "Boolean")
                  #set ($dictMethod = "boolean")
              #end
              #if ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
                <Form.Item label="${comment}" name="${javaField}">
                  <Input v-model:value="formData.${javaField}" placeholder="Please enter ${comment}" />
                </Form.Item>
              #elseif($column.htmlType == "imageUpload")## Image upload
                <Form.Item label="${comment}" name="${javaField}">
                  <ImageUpload v-model:value="formData.${javaField}" />
                </Form.Item>
              #elseif($column.htmlType == "fileUpload")## File upload
                <Form.Item label="${comment}" name="${javaField}">
                  <FileUpload v-model:value="formData.${javaField}" />
                </Form.Item>
              #elseif($column.htmlType == "editor")## text editor
                <Form.Item label="${comment}" name="${javaField}">
                  <RichTextarea v-model="formData.${javaField}" height="500px" />
                </Form.Item>
              #elseif($column.htmlType == "select")## Select box
                <Form.Item label="${comment}" name="${javaField}">
                  <Select v-model:value="formData.${javaField}" placeholder="Please select ${comment}">
                      #if ("" != $dictType)## There is a data dict
                        <Select.Option
                            v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                            :key="dict.value"
                            :value="dict.value"
                        >
                          {{ dict.label }}
                        </Select.Option>
                      #else##No data dict
                        <Select.Option label="Please select dict generation" value="" />
                      #end
                  </Select>
                </Form.Item>
              #elseif($column.htmlType == "checkbox")## checkbox
                <Form.Item label="${comment}" name="${javaField}">
                  <CheckboxGroup v-model:value="formData.${javaField}">
                      #if ("" != $dictType)## There is a data dict
                        <Checkbox
                            v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                            :key="dict.value"
                            :value="dict.value"
                        >
                          {{ dict.label }}
                        </Checkbox>
                      #else##No data dict
                        <Checkbox label="Please select dict generation" />
                      #end
                  </CheckboxGroup>
                </Form.Item>
              #elseif($column.htmlType == "radio")## Radio button
                <Form.Item label="${comment}" name="${javaField}">
                  <RadioGroup v-model:value="formData.${javaField}">
                      #if ("" != $dictType)## There is a data dict
                        <Radio
                            v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                            :key="dict.value"
                            :value="dict.value"
                        >
                          {{ dict.label }}
                        </Radio>
                      #else##No data dict
                        <Radio value="1">Please select dict generation</Radio>
                      #end
                  </RadioGroup>
                </Form.Item>
              #elseif($column.htmlType == "datetime")## time box
                <Form.Item label="${comment}" name="${javaField}">
                  <DatePicker
                      v-model:value="formData.${javaField}"
                      valueFormat="x"
                      placeholder="Select ${comment}"
                  />
                </Form.Item>
              #elseif($column.htmlType == "textarea")## Text input
                <Form.Item label="${comment}" name="${javaField}">
                  <Textarea v-model:value="formData.${javaField}" placeholder="Please enter ${comment}" />
                </Form.Item>
              #end
          #end
      #end
  </Form>
#end
</template>
