## Common variable definition
#set ($functionNames = ['Query', 'Create', 'Update', 'Delete', 'Export'])
#set ($functionOps = ['query', 'create', 'update', 'delete', 'export'])
##
## Macro definition: Generate button SQL (general part)
#macro(insertButtonSql $parentIdVar)
#foreach ($functionName in $functionNames)
#set ($index = $foreach.count - 1)
    INSERT INTO system_menu(
        name, permission, type, sort, parent_id,
        path, icon, component, status
    )
    VALUES (
        '${table.classComment}${functionName}', '${permissionPrefix}:${functionOps.get($index)}', 3, $foreach.count, ${parentIdVar},
        '', '', '', 0
    );
#end
#end
##
## ======================= MySQL / OceanBase =======================
#if ($dbType.name() == 'MYSQL' || $dbType.name() == 'OCEAN_BASE')
-- Menu SQL
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment} management', '', 2, 0, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', 0, '${table.className}'
);

-- Button parent menu ID
SELECT @parentId := LAST_INSERT_ID();

-- Button SQL
#foreach ($functionName in $functionNames)
#set ($index = $foreach.count - 1)
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status
)
VALUES (
    '${table.classComment}${functionName}', '${permissionPrefix}:${functionOps.get($index)}', 3, $foreach.count, @parentId,
    '', '', '', 0
);
#end
##
## ======================= Oracle / Dameng DM =======================
#elseif ($dbType.name() == 'ORACLE' || $dbType.name() == 'DM')
-- Menu SQL
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment} management', '', 2, 0, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', 0, '${table.className}'
);

-- Button parent menu ID
-- Description: Oracle/Dameng uses a sequence to obtain the ID of the previous insertion
DECLARE
    v_parent_id NUMBER;
BEGIN
    SELECT system_menu_seq.CURRVAL INTO v_parent_id FROM DUAL;
    -- Button SQL
#foreach ($functionName in $functionNames)
#set ($index = $foreach.count - 1)
    INSERT INTO system_menu(
        name, permission, type, sort, parent_id,
        path, icon, component, status
    )
    VALUES (
        '${table.classComment}${functionName}', '${permissionPrefix}:${functionOps.get($index)}', 3, $foreach.count, v_parent_id,
        '', '', '', 0
    );
#end
END;
/
##
## ======================= PostgreSQL / KingbaseES =======================
#elseif ($dbType.name() == 'POSTGRE_SQL' || $dbType.name() == 'KINGBASE_ES')
-- Menu SQL
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment} management', '', 2, 0, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', 0, '${table.className}'
);

-- Button parent menu ID
-- Description: PostgreSQL/KingbaseES uses lastval() to obtain the last inserted sequence value
DO $$
DECLARE
    v_parent_id BIGINT;
BEGIN
    v_parent_id := lastval();
    -- Button SQL
#foreach ($functionName in $functionNames)
#set ($index = $foreach.count - 1)
    INSERT INTO system_menu(
        name, permission, type, sort, parent_id,
        path, icon, component, status
    )
    VALUES (
        '${table.classComment}${functionName}', '${permissionPrefix}:${functionOps.get($index)}', 3, $foreach.count, v_parent_id,
        '', '', '', 0
    );
#end
END $$;
##
## ======================= SQL Server =======================
#elseif ($dbType.name() == 'SQL_SERVER' || $dbType.name() == 'SQL_SERVER2005')
-- Menu SQL
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment} management', '', 2, 0, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', 0, '${table.className}'
);

-- Button parent menu ID
-- Description: SQL Server uses SCOPE_IDENTITY() to obtain the auto-incremented ID of the previous insert
DECLARE @parentId BIGINT;
SET @parentId = SCOPE_IDENTITY();

-- Button SQL
#foreach ($functionName in $functionNames)
#set ($index = $foreach.count - 1)
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status
)
VALUES (
    '${table.classComment}${functionName}', '${permissionPrefix}:${functionOps.get($index)}', 3, $foreach.count, @parentId,
    '', '', '', 0
);
#end
##
## ======================= Unsupported database type =======================
#else
-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-- Note: The current database type ${dbType.name()} does not currently support automatic generation of menu SQL
-- Please refer to the following MySQL syntax and manually modify it to the syntax corresponding to your database.
-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

-- Menu SQL
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status, component_name
)
VALUES (
    '${table.classComment} management', '', 2, 0, ${table.parentMenuId},
    '${simpleClassName_strikeCase}', '', '${table.moduleName}/${table.businessName}/index', 0, '${table.className}'
);

-- Button parent menu ID
-- TODO: Please modify the method of obtaining the previous insertion ID according to your database type.
-- MySQL: SELECT @parentId := LAST_INSERT_ID();
-- Oracle: SELECT system_menu_seq.CURRVAL INTO v_parent_id FROM DUAL;
-- PostgreSQL: SELECT lastval() INTO v_parent_id;
-- SQL Server: SET @parentId = SCOPE_IDENTITY();
SELECT @parentId := LAST_INSERT_ID();

-- Button SQL
#foreach ($functionName in $functionNames)
#set ($index = $foreach.count - 1)
INSERT INTO system_menu(
    name, permission, type, sort, parent_id,
    path, icon, component, status
)
VALUES (
    '${table.classComment}${functionName}', '${permissionPrefix}:${functionOps.get($index)}', 3, $foreach.count, @parentId,
    '', '', '', 0
);
#end
#end
