import { defHttp } from '@/utils/http/axios'
#set ($baseURL = "/${table.moduleName}/${simpleClassName_strikeCase}")

// Query ${table.classComment} list
export function get${simpleClassName}Page(params) {
  return defHttp.get({ url: '${baseURL}/page', params })
}

// Query ${table.classComment} details
export function get${simpleClassName}(id: number) {
  return defHttp.get({ url: `${baseURL}/get?id=${id}` })
}

// Added ${table.classComment}
export function create${simpleClassName}(data) {
  return defHttp.post({ url: '${baseURL}/create', data })
}

// Modify ${table.classComment}
export function update${simpleClassName}(data) {
  return defHttp.put({ url: '${baseURL}/update', data })
}

// Delete ${table.classComment}
export function delete${simpleClassName}(id: number) {
  return defHttp.delete({ url: `${baseURL}/delete?id=${id}` })
}

// Export ${table.classComment} Excel
export function export${simpleClassName}(params) {
  return defHttp.download({ url: '${baseURL}/export-excel', params }, '${table.classComment}.xls')
}
