// TODO: Please copy the following error code to the ErrorCodeConstants class of the sar-module-${table.moduleName} module. Note, please set an error code ID for "TODO supplementary ID"! ! !
// ========== ${table.classComment} TODO supplementary ID ==========
ErrorCode ${simpleClassName_underlineCase.toUpperCase()}_NOT_EXISTS = new ErrorCode(TODO Supplementary ID, "${table.classComment} does not exist");
## Special: tree table exclusive logic
#if ( $table.templateType == 2 )
ErrorCode ${simpleClassName_underlineCase.toUpperCase()}_EXITS_CHILDREN = new ErrorCode(TODO Supplementary ID, "Sub ${table.classComment} exists and cannot be deleted");
ErrorCode ${simpleClassName_underlineCase.toUpperCase()}_PARENT_NOT_EXITS = new ErrorCode(TODO Supplementary ID,"Parent ${table.classComment} does not exist");
ErrorCode ${simpleClassName_underlineCase.toUpperCase()}_PARENT_ERROR = new ErrorCode(TODO Supplementary ID, "Cannot set self as parent ${table.classComment}");
ErrorCode ${simpleClassName_underlineCase.toUpperCase()}_${treeNameColumn_javaField_underlineCase.toUpperCase()}_DUPLICATE = new ErrorCode(TODO Supplementary ID, "${table.classComment} for ${treeNameColumn.columnComment} already exists");
ErrorCode ${simpleClassName_underlineCase.toUpperCase()}_PARENT_IS_CHILD = new ErrorCode(TODO Supplementary ID, "Cannot set own child ${table.className} as parent ${table.className}");
#end
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType == 11 )## Special: ERP case
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
#set ($simpleClassNameUnderlineCase = $simpleClassNameUnderlineCases.get($index))
ErrorCode ${simpleClassNameUnderlineCase.toUpperCase()}_NOT_EXISTS = new ErrorCode(TODO Supplementary ID, "${subTable.classComment} does not exist");
#if ( !$subTable.subJoinMany )
ErrorCode ${simpleClassNameUnderlineCase.toUpperCase()}_EXISTS = new ErrorCode(TODO Supplementary ID, "${subTable.classComment} already exists");
#end
#end
#end