package ${basePackage}.module.${table.moduleName}.service.${table.businessName};

import java.util.*;
import ${jakartaPackage}.validation.*;
import ${basePackage}.module.${table.moduleName}.controller.${sceneEnum.basePackage}.${table.businessName}.vo.*;
import ${basePackage}.module.${table.moduleName}.dal.dataobject.${table.businessName}.${table.className}DO;
## Special: Exclusive logic for master and sub-tables
#foreach ($subTable in $subTables)
import ${basePackage}.module.${subTable.moduleName}.dal.dataobject.${subTable.businessName}.${subTable.className}DO;
#end
import ${PageResultClassName};
import ${PageParamClassName};

/**
 * ${table.classComment} Service API
 *
 * @author ${table.author}
 */
public interface ${table.className}Service {

    /**
     * Create ${table.classComment}
     *
     * @param ${saveReqVOVar} Create information
     * @return ID
     */
    ${primaryColumn.javaType} create${simpleClassName}(@Valid ${saveReqVOClass} ${saveReqVOVar});

    /**
     * Update ${table.classComment}
     *
     * @param ${updateReqVOVar} Update information
     */
    void update${simpleClassName}(@Valid ${updateReqVOClass} ${updateReqVOVar});

    /**
     * Delete ${table.classComment}
     *
     * @param id ID
     */
    void delete${simpleClassName}(${primaryColumn.javaType} id);

#if ( $table.templateType != 2 && $deleteBatchEnable)
    /**
    * Batch delete ${table.classComment}
    *
    * @param ids ID
    */
    void delete${simpleClassName}ListByIds(List<${primaryColumn.javaType}> ids);
#end

    /**
     * Get ${table.classComment}
     *
     * @param id ID
     * @return ${table.classComment}
     */
    ${table.className}DO get${simpleClassName}(${primaryColumn.javaType} id);

## Special: Exclusive logic for tree tables (trees DO not require paging API)
#if ( $table.templateType != 2 )
    /**
     * Get ${table.classComment} pagination
     *
     * @param pageReqVO Page query
     * @return ${table.classComment} paging
     */
    PageResult<${table.className}DO> get${simpleClassName}Page(${sceneEnum.prefixClass}${table.className}PageReqVO pageReqVO);
#else
    /**
     * Get ${table.classComment} list
     *
     * @param listReqVO Query conditions
     * @return ${table.classComment} list
     */
    List<${table.className}DO> get${simpleClassName}List(${sceneEnum.prefixClass}${table.className}ListReqVO listReqVO);
#end

## Special: Exclusive logic for master and sub-tables
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
#set ($subSimpleClassName = $subSimpleClassNames.get($index))
#set ($subPrimaryColumn = $subPrimaryColumns.get($index))##Current primary field
#set ($subJoinColumn = $subJoinColumns.get($index))##Current join field
#set ($SubJoinColumnName = $subJoinColumn.javaField.substring(0,1).toUpperCase() + ${subJoinColumn.javaField.substring(1)})##Capitalize first letter
#set ($subClassNameVar = $subClassNameVars.get($index))
    // ==================== Subtable ($subTable.classComment) ====================

## Situation 1: When MASTER_ERP is used, page subtables need to be queried separately.
#if ( $table.templateType == 11 )
    /**
     * Get ${subTable.classComment} pagination
     *
     * @param pageReqVO Page query
     * @param ${subJoinColumn.javaField} ${subJoinColumn.columnComment}
     * @return ${subTable.classComment} paging
     */
    PageResult<${subTable.className}DO> get${subSimpleClassName}Page(PageParam pageReqVO, ${subJoinColumn.javaType} ${subJoinColumn.javaField});

## Scenario 2: When it is not MASTER_ERP, you need to query the subtable in a list
#else
    #if ( $subTable.subJoinMany )
    /**
     * Get ${subTable.classComment} list
     *
     * @param ${subJoinColumn.javaField} ${subJoinColumn.columnComment}
     * @return ${subTable.classComment} list
     */
    List<${subTable.className}DO> get${subSimpleClassName}ListBy${SubJoinColumnName}(${subJoinColumn.javaType} ${subJoinColumn.javaField});

    #else
    /**
     * Get ${subTable.classComment}
     *
     * @param ${subJoinColumn.javaField} ${subJoinColumn.columnComment}
     * @return ${subTable.classComment}
     */
    ${subTable.className}DO get${subSimpleClassName}By${SubJoinColumnName}(${subJoinColumn.javaType} ${subJoinColumn.javaField});

    #end
#end
## Special: MASTER_ERP supports single add, modify, and delete operations
#if ( $table.templateType == 11 )
    /**
     * Create ${subTable.classComment}
     *
     * @param ${subClassNameVar} Create information
     * @return ID
     */
    ${subPrimaryColumn.javaType} create${subSimpleClassName}(@Valid ${subTable.className}DO ${subClassNameVar});

    /**
     * Update ${subTable.classComment}
     *
     * @param ${subClassNameVar} Update information
     */
    void update${subSimpleClassName}(@Valid ${subTable.className}DO ${subClassNameVar});

    /**
     * Delete ${subTable.classComment}
     *
     * @param id ID
     */
    void delete${subSimpleClassName}(${subPrimaryColumn.javaType} id);

#if ($deleteBatchEnable)
    /**
    * Batch delete ${subTable.classComment}
    *
    * @param ids ID
    */
    void delete${subSimpleClassName}ListByIds(List<${subPrimaryColumn.javaType}> ids);
#end

	/**
	 * Get ${subTable.classComment}
	 *
	 * @param id ID
     * @return ${subTable.classComment}
	 */
    ${subTable.className}DO get${subSimpleClassName}(${subPrimaryColumn.javaType} id);

#end
#end
}