#set ($subTable = $subTables.get($subIndex))##current table
#set ($subColumns = $subColumnsList.get($subIndex))##Current field array
#set ($subJoinColumn = $subJoinColumns.get($subIndex))##Current join field
#set ($subSimpleClassName = $subSimpleClassNames.get($subIndex))
<script lang="ts" setup>
  import type { ${simpleClassName}Api } from '#/api/${table.moduleName}/${simpleClassName_strikeCase}';
  import type { FormRules } from 'element-plus';

  import { computed, ref, reactive } from 'vue';

  import { useVbenModal } from '@vben/common-ui';
  import { DICT_TYPE } from '@vben/constants';
  import { getDictOptions } from '@vben/hooks';
  import { Tinymce as RichTextarea } from '#/components/tinymce';
  import { ImageUpload, FileUpload } from "#/components/upload";
  import { ElMessage, ElTabs, ElTabPane, ElForm, ElFormItem, ElInput, ElSelect, ElOption, ElRadioGroup, ElRadio, ElCheckboxGroup, ElCheckbox, ElDatePicker, ElTreeSelect } from 'element-plus';

  import { $t } from '#/locales';

  import { get${subSimpleClassName}, create${subSimpleClassName}, update${subSimpleClassName} } from '#/api/${table.moduleName}/${simpleClassName_strikeCase}';

  const emit = defineEmits(['success']);
  const getTitle = computed(() => {
    return formData.value?.id
        ? $t('ui.actionTitle.edit', ['${subTable.classComment}'])
        : $t('ui.actionTitle.create', ['${subTable.classComment}']);
  });

  const formRef = ref();
  const formData = ref<Partial<${simpleClassName}Api.${subSimpleClassName}>>({
    #foreach ($column in $subColumns)
      #if ($column.createOperation || $column.updateOperation)
        #if ($column.htmlType == "checkbox")
            $column.javaField: [],
        #else
            $column.javaField: undefined,
        #end
      #end
    #end
  });
  const rules = reactive<FormRules>({
    #foreach ($column in $subColumns)
      #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
        #set($comment=$column.columnComment)
          $column.javaField: [{ required: true, message: '${comment} cannot be empty', trigger: #if($column.htmlType == 'select')'change'#else'blur'#end }],
      #end
    #end
  });

  const [Modal, modalApi] = useVbenModal({
    async onConfirm() {
      await formRef.value?.validate();

      modalApi.lock();
      // Submit form
      const data = formData.value as ${simpleClassName}Api.${subSimpleClassName};
      try {
        await (formData.value?.id ? update${subSimpleClassName}(data) : create${subSimpleClassName}(data));
        // Close and prompt
        await modalApi.close();
        emit('success');
        ElMessage.success($t('ui.actionMessage.operationSuccess'));
      } finally {
        modalApi.unlock();
      }
    },
    async onOpenChange(isOpen: boolean) {
      if (!isOpen) {
        resetForm()
        return;
      }

      // Load data
      let data = modalApi.getData<${simpleClassName}Api.${subSimpleClassName}>();
      if (!data) {
        return;
      }
      if (data.id) {
        modalApi.lock();
        try {
          data = await get${subSimpleClassName}(data.id);
        } finally {
          modalApi.unlock();
        }
      }
      // set to values
      formData.value = data;
    },
  });

  /** Reset form */
  const resetForm = () => {
    formData.value = {
      #foreach ($column in $subColumns)
        #if ($column.createOperation || $column.updateOperation)
          #if ($column.htmlType == "checkbox")
              $column.javaField: [],
          #else
              $column.javaField: undefined,
          #end
        #end
      #end
    };
    formRef.value?.resetFields();
  }
</script>

<template>
  <Modal :title="getTitle">
    <el-form
      ref="formRef"
      :model="formData"
      :rules="rules"
      label-width="120px"
      label-position="right"
    >
      #foreach($column in $subColumns)
        #if ($column.createOperation || $column.updateOperation)
          #set ($dictType = $column.dictType)
          #set ($javaField = $column.javaField)
          #set ($javaType = $column.javaType)
          #set ($comment = $column.columnComment)
          #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
            #set ($dictMethod = "number")
          #elseif ($javaType == "String")
            #set ($dictMethod = "string")
          #elseif ($javaType == "Boolean")
            #set ($dictMethod = "boolean")
          #end
          #if ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
            <el-form-item label="${comment}" prop="${javaField}">
              <el-input v-model="formData.${javaField}" placeholder="Please enter ${comment}" />
            </el-form-item>
          #elseif($column.htmlType == "imageUpload")## Image upload
            <el-form-item label="${comment}" prop="${javaField}">
              <ImageUpload v-model="formData.${javaField}" />
            </el-form-item>
          #elseif($column.htmlType == "fileUpload")## File upload
            <el-form-item label="${comment}" prop="${javaField}">
              <FileUpload v-model="formData.${javaField}" />
            </el-form-item>
          #elseif($column.htmlType == "editor")## text editor
            <el-form-item label="${comment}" prop="${javaField}">
              <RichTextarea v-model="formData.${javaField}" height="500px" />
            </el-form-item>
          #elseif($column.htmlType == "select")## Select box
            <el-form-item label="${comment}" prop="${javaField}">
              <el-select v-model="formData.${javaField}" placeholder="Please select ${comment}">
                #if ("" != $dictType)## There is a data dict
                  <el-option
                          v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                          :key="dict.value"
                          :value="dict.value"
                          :label="dict.label"
                  />
                #else##No data dict
                  <el-option label="Please select dict generation" value="" />
                #end
              </el-select>
            </el-form-item>
          #elseif($column.htmlType == "checkbox")## checkbox
            <el-form-item label="${comment}" prop="${javaField}">
              <el-checkbox-group v-model="formData.${javaField}">
                #if ("" != $dictType)## There is a data dict
                  <el-checkbox
                          v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                          :key="dict.value"
                          :label="dict.value"
                  >
                    {{ dict.label }}
                  </el-checkbox>
                #else##No data dict
                  <el-checkbox label="Please select dict generation" />
                #end
              </el-checkbox-group>
            </el-form-item>
          #elseif($column.htmlType == "radio")## Radio button
            <el-form-item label="${comment}" prop="${javaField}">
              <el-radio-group v-model="formData.${javaField}">
                #if ("" != $dictType)## There is a data dict
                  <el-radio
                          v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                          :key="dict.value"
                          :label="dict.value"
                  >
                    {{ dict.label }}
                  </el-radio>
                #else##No data dict
                  <el-radio :label="1">Please select dict generation</el-radio>
                #end
              </el-radio-group>
            </el-form-item>
          #elseif($column.htmlType == "datetime")## time box
            <el-form-item label="${comment}" prop="${javaField}">
              <el-date-picker
                      v-model="formData.${javaField}"
                      value-format="x"
                      placeholder="Select ${comment}"
              />
            </el-form-item>
          #elseif($column.htmlType == "textarea")## Text input
            <el-form-item label="${comment}" prop="${javaField}">
              <el-input v-model="formData.${javaField}" type="textarea" placeholder="Please enter ${comment}" />
            </el-form-item>
          #end
        #end
      #end
    </el-form>
  </Modal>
</template>
