#set ($subTable = $subTables.get($subIndex))##current table
#set ($subColumns = $subColumnsList.get($subIndex))##Current field array
#set ($subJoinColumn = $subJoinColumns.get($subIndex))##Current join field
#set ($subSimpleClassName = $subSimpleClassNames.get($subIndex))
#set ($subClassNameVar = $subClassNameVars.get($subIndex))
#set ($SubJoinColumnName = $subJoinColumn.javaField.substring(0,1).toUpperCase() + ${subJoinColumn.javaField.substring(1)})##Capitalize first letter
<script lang="ts" setup>
import type { ${simpleClassName}Api } from '#/api/${table.moduleName}/${simpleClassName_strikeCase}';

import { computed, ref, reactive, h, onMounted,watch,nextTick } from 'vue';

import { DICT_TYPE } from '@vben/constants';
import { getDictOptions } from '@vben/hooks';

import { ElMessage, ElTabs, ElTabPane, ElForm, ElFormItem, ElInput, ElButton, ElSelect, ElOption, ElRadioGroup, ElRadio, ElCheckboxGroup, ElCheckbox, ElDatePicker } from 'element-plus';
import { $t } from '#/locales';

#if ($subTable.subJoinMany) ## one to many
import type { VxeTableInstance } from '#/adapter/vxe-table';
import { Plus } from "@vben/icons";
import { VxeColumn, VxeTable } from '#/adapter/vxe-table';
import { get${subSimpleClassName}ListBy${SubJoinColumnName} } from '#/api/${table.moduleName}/${simpleClassName_strikeCase}';
#else
import type { FormRules } from 'element-plus';
import { Tinymce as RichTextarea } from '#/components/tinymce';
import { get${subSimpleClassName}By${SubJoinColumnName} } from '#/api/${table.moduleName}/${simpleClassName_strikeCase}';
#end

const props = defineProps<{
   ${subJoinColumn.javaField}?: number // ${subJoinColumn.columnComment}（Related fields of the main table)
}>()

#if ($subTable.subJoinMany) ## one to many
const list = ref<${simpleClassName}Api.${subSimpleClassName}[]>([]) // list data
const tableRef = ref<VxeTableInstance>();
/** Add ${subTable.classComment} */
async function handleAdd() {
  await tableRef.value?.insertAt({} as ${simpleClassName}Api.${subSimpleClassName}, -1);
}

/** Delete ${subTable.classComment} */
async function onDelete(row: ${simpleClassName}Api.${subSimpleClassName}) {
  await tableRef.value?.remove(row);
}

/** Provide methods to obtain table data for parent components to call */
defineExpose({
  getData: (): ${simpleClassName}Api.${subSimpleClassName}[] => {
    const data = list.value as ${simpleClassName}Api.${subSimpleClassName}[];
    const removeRecords = tableRef.value?.getRemoveRecords() as ${simpleClassName}Api.${subSimpleClassName}[];
    const insertRecords = tableRef.value?.getInsertRecords() as ${simpleClassName}Api.${subSimpleClassName}[];
    return [
      ...data.filter(
        (row) => !removeRecords.some((removed) => removed.id === row.id),
      ),
      ...insertRecords.map((row: any) => ({ ...row, id: undefined })),
  },
});

/** Monitor changes in the associated fields of the main table and load the corresponding sub-table data */
watch(
    () => props.${subJoinColumn.javaField},
    async (val) => {
      if (!val) {
        return;
      }
      list.value = await get${subSimpleClassName}ListBy${SubJoinColumnName}(props.${subJoinColumn.javaField}!);
    },
    { immediate: true },
);
#else
const formRef = ref();
const formData = ref<Partial<${simpleClassName}Api.${subSimpleClassName}>>({
    #foreach ($column in $subColumns)
        #if ($column.createOperation || $column.updateOperation)
            #if ($column.htmlType == "checkbox")
                    $column.javaField: [],
            #else
                    $column.javaField: undefined,
            #end
        #end
    #end
});
const rules = reactive<FormRules>({
    #foreach ($column in $subColumns)
        #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
            #set($comment=$column.columnComment)
                $column.javaField: [{ required: true, message: '${comment} cannot be empty', trigger: #if($column.htmlType == 'select')'change'#else'blur'#end }],
        #end
    #end
});
/** Expose form verification methods and form value acquisition methods */
defineExpose({
  validate: async () => await formRef.value?.validate(),
  getValues: ()=> formData.value,
});

/** Monitor changes in the associated fields of the main table and load the corresponding sub-table data */
watch(
    () => props.${subJoinColumn.javaField},
    async (val) => {
      if (!val) {
        return;
      }
      await nextTick();
      formData.value = await get${subSimpleClassName}By${SubJoinColumnName}(props.${subJoinColumn.javaField}!);
    },
    { immediate: true },
);
#end
</script>

<template>
#if ($subTable.subJoinMany) ## one to many
  <vxe-table ref="tableRef" :data="list" show-overflow class="mx-4">
      #foreach($column in $subColumns)
          #if ($column.createOperation || $column.updateOperation)
              #set ($comment = $column.columnComment)
              #set ($javaField = $column.javaField)
              #set ($javaType = $column.javaType)
              #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                  #set ($dictMethod = "number")
              #elseif ($javaType == "String")
                  #set ($dictMethod = "string")
              #elseif ($javaType == "Boolean")
                  #set ($dictMethod = "boolean")
              #end
              #if ( $column.id == $subJoinColumn.id) ## Special: Ignore the join field of the master and child tables and DO not need to fill it in.
              #elseif ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <el-input v-model="row.${javaField}" />
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "imageUpload")## Image upload
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <ImageUpload v-model="row.${javaField}" />
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "fileUpload")## File upload
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <FileUpload v-model="row.${javaField}" />
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "select")## Select box
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <el-select v-model="row.${javaField}" placeholder="Please select ${comment}">
                        #if ("" != $dictType)## There is a data dict
                          <el-option
                              v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                              :key="dict.value"
                              :value="dict.value"
                              :label="dict.label"
                          />
                        #else##No data dict
                          <el-option label="Please select dict generation" value="" />
                        #end
                    </el-select>
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "checkbox")## checkbox
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <el-checkbox-group v-model="row.${javaField}">
                        #if ("" != $dictType)## There is a data dict
                          <el-checkbox
                              v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                              :key="dict.value"
                              :label="dict.value"
                          >
                            {{ dict.label }}
                          </el-checkbox>
                        #else##No data dict
                          <el-checkbox label="Please select dict generation" />
                        #end
                    </el-checkbox-group>
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "radio")## Radio button
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <el-radio-group v-model="row.${javaField}">
                        #if ("" != $dictType)## There is a data dict
                          <el-radio
                              v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                              :key="dict.value"
                              :label="dict.value"
                          >
                            {{ dict.label }}
                          </el-radio>
                        #else##No data dict
                          <el-radio :label="1">Please select dict generation</el-radio>
                        #end
                    </el-radio-group>
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "datetime")## time box
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <el-date-picker
                        v-model="row.${javaField}"
                        type="datetime"
                        value-format="x"
                        format="YYYY-MM-DD HH:mm:ss"
                    />
                  </template>
                </vxe-column>
              #elseif($column.htmlType == "textarea" || $column.htmlType == "editor")## Text input
                <vxe-column field="${javaField}" title="${comment}" align="center">
                  <template #default="{row}">
                    <el-input v-model="row.${javaField}" type="textarea" />
                  </template>
                </vxe-column>
              #end
          #end
      #end
    <vxe-column field="operation" title="Operation" align="center">
      <template #default="{row}">
        <el-button
            size="small"
            type="danger"
            link
            @click="onDelete(row as any)"
            v-access:code="['${permissionPrefix}:delete']"
        >
          {{ $t('ui.actionTitle.delete') }}
        </el-button>
      </template>
    </vxe-column>
  </vxe-table>
  <div class="flex justify-center mt-4">
    <el-button :icon="h(Plus)" type="primary" plain @click="handleAdd" v-access:code="['${permissionPrefix}:create']">
      {{ $t('ui.actionTitle.create', ['${subTable.classComment}']) }}
    </el-button>
  </div>
#else
  <el-form
      ref="formRef"
      class="mx-4"
      :model="formData"
      :rules="rules"
      label-width="120px"
      label-position="right"
  >
      #foreach($column in $subColumns)
          #if ($column.createOperation || $column.updateOperation)
              #set ($dictType = $column.dictType)
              #set ($javaField = $column.javaField)
              #set ($javaType = $column.javaType)
              #set ($comment = $column.columnComment)
              #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                  #set ($dictMethod = "number")
              #elseif ($javaType == "String")
                  #set ($dictMethod = "string")
              #elseif ($javaType == "Boolean")
                  #set ($dictMethod = "boolean")
              #end
              #if ($column.htmlType == "input" && !$column.primaryKey)## Ignore the primary key, DO not use it in the form
                <el-form-item label="${comment}" prop="${javaField}">
                  <el-input v-model="formData.${javaField}" placeholder="Please enter ${comment}" />
                </el-form-item>
              #elseif($column.htmlType == "imageUpload")## Image upload
                <el-form-item label="${comment}" prop="${javaField}">
                  <ImageUpload v-model="formData.${javaField}" />
                </el-form-item>
              #elseif($column.htmlType == "fileUpload")## File upload
                <el-form-item label="${comment}" prop="${javaField}">
                  <FileUpload v-model="formData.${javaField}" />
                </el-form-item>
              #elseif($column.htmlType == "editor")## text editor
                <el-form-item label="${comment}" prop="${javaField}">
                  <RichTextarea v-model="formData.${javaField}" height="500px" />
                </el-form-item>
              #elseif($column.htmlType == "select")## Select box
                <el-form-item label="${comment}" prop="${javaField}">
                  <el-select v-model="formData.${javaField}" placeholder="Please select ${comment}">
                      #if ("" != $dictType)## There is a data dict
                        <el-option
                            v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                            :key="dict.value"
                            :value="dict.value"
                            :label="dict.label"
                        />
                      #else##No data dict
                        <el-option label="Please select dict generation" value="" />
                      #end
                  </el-select>
                </el-form-item>
              #elseif($column.htmlType == "checkbox")## checkbox
                <el-form-item label="${comment}" prop="${javaField}">
                  <el-checkbox-group v-model="formData.${javaField}">
                      #if ("" != $dictType)## There is a data dict
                        <el-checkbox
                            v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                            :key="dict.value"
                            :label="dict.value"
                        >
                          {{ dict.label }}
                        </el-checkbox>
                      #else##No data dict
                        <el-checkbox label="Please select dict generation" />
                      #end
                  </el-checkbox-group>
                </el-form-item>
              #elseif($column.htmlType == "radio")## Radio button
                <el-form-item label="${comment}" prop="${javaField}">
                  <el-radio-group v-model="formData.${javaField}">
                      #if ("" != $dictType)## There is a data dict
                        <el-radio
                            v-for="dict in getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod')"
                            :key="dict.value"
                            :label="dict.value"
                        >
                          {{ dict.label }}
                        </el-radio>
                      #else##No data dict
                        <el-radio :label="1">Please select dict generation</el-radio>
                      #end
                  </el-radio-group>
                </el-form-item>
              #elseif($column.htmlType == "datetime")## time box
                <el-form-item label="${comment}" prop="${javaField}">
                  <el-date-picker
                      v-model="formData.${javaField}"
                      value-format="x"
                      placeholder="Select ${comment}"
                  />
                </el-form-item>
              #elseif($column.htmlType == "textarea")## Text input
                <el-form-item label="${comment}" prop="${javaField}">
                  <el-input v-model="formData.${javaField}" type="textarea" placeholder="Please enter ${comment}" />
                </el-form-item>
              #end
          #end
      #end
  </el-form>
#end
</template>
