## The erp and inner of the subtable use similar list lists, with two main differences:
## 1) inner uses list without paging, and erp uses page for paging.
## 2) erp supports the addition, modification, and deletion of a single subtable, but inner does not support it.
#parse("codegen/vue3_vben5_ele/general/views/modules/list_sub_erp.vue.vm")