import request from '@/config/axios'
import type { Dayjs } from 'dayjs';
#set ($baseURL = "/${table.moduleName}/${simpleClassName_strikeCase}")

## Special: Exclusive logic for master and sub-tables
#foreach ($subTable in $subTables)
  #set ($index = $foreach.count - 1)
  #set ($subSimpleClassName = $subSimpleClassNames.get($index))
  #set ($subColumns = $subColumnsList.get($index))##Current field array
/** ${subTable.classComment}information */
export interface ${subSimpleClassName} {
  #foreach ($column in $subColumns)
    #if ($column.createOperation || $column.updateOperation)
      #if(${column.javaType.toLowerCase()} == "long" || ${column.javaType.toLowerCase()} == "integer" || ${column.javaType.toLowerCase()} == "short" || ${column.javaType.toLowerCase()} == "double" || ${column.javaType.toLowerCase()} == "bigdecimal")
          ${column.javaField}#if($column.updateOperation && !$column.primaryKey && !$column.nullable)?#end: number; // ${column.columnComment}
      #elseif(${column.javaType.toLowerCase()} == "date" || ${column.javaType.toLowerCase()} == "localdate" || ${column.javaType.toLowerCase()} == "localdatetime")
          ${column.javaField}#if($column.updateOperation && !$column.primaryKey && !$column.nullable)?#end: string | Dayjs; // ${column.columnComment}
      #else
          ${column.javaField}#if($column.updateOperation && !$column.primaryKey && !$column.nullable)?#end: ${column.javaType.toLowerCase()}; // ${column.columnComment}
      #end
    #end
  #end
}

#end
/** ${table.classComment}information */
export interface ${simpleClassName} {
  #foreach ($column in $columns)
    #if ($column.createOperation || $column.updateOperation)
      #if(${column.javaType.toLowerCase()} == "long" || ${column.javaType.toLowerCase()} == "integer" || ${column.javaType.toLowerCase()} == "short" || ${column.javaType.toLowerCase()} == "double" || ${column.javaType.toLowerCase()} == "bigdecimal")
          ${column.javaField}#if($column.updateOperation && !$column.primaryKey && !$column.nullable)?#end: number; // ${column.columnComment}
      #elseif(${column.javaType.toLowerCase()} == "date" || ${column.javaType.toLowerCase()} == "localdate" || ${column.javaType.toLowerCase()} == "localdatetime")
          ${column.javaField}#if($column.updateOperation && !$column.primaryKey && !$column.nullable)?#end: string | Dayjs; // ${column.columnComment}
      #else
          ${column.javaField}#if($column.updateOperation && !$column.primaryKey && !$column.nullable)?#end: ${column.javaType.toLowerCase()}; // ${column.columnComment}
      #end
    #end
  #end
  #if ( $table.templateType == 2 )
    children?: ${simpleClassName}[];
  #end
  ## Special: Exclusive logic for master and sub-tables
  #if ( $table.templateType == 10 || $table.templateType == 12 )
    #foreach ($subTable in $subTables)
      #set ($index = $foreach.count - 1)
      #set ($subSimpleClassName = $subSimpleClassNames.get($index))
      #if ( $subTable.subJoinMany )
          ${subSimpleClassName.toLowerCase()}s?: ${subSimpleClassName}[]
      #else
          ${subSimpleClassName.toLowerCase()}?: ${subSimpleClassName}
      #end
    #end
  #end
}

// ${table.classComment} API
export const ${simpleClassName}Api = {
#if ( $table.templateType != 2 )
  // Query ${table.classComment} paging
  get${simpleClassName}Page: async (params: any) => {
    return await request.get({ url: `${baseURL}/page`, params })
  },
#else
  // Query ${table.classComment} list
  get${simpleClassName}List: async (params) => {
    return await request.get({ url: `${baseURL}/list`, params })
  },
#end

  // Query ${table.classComment} details
  get${simpleClassName}: async (id: number) => {
    return await request.get({ url: `${baseURL}/get?id=` + id })
  },

  // Added ${table.classComment}
  create${simpleClassName}: async (data: ${simpleClassName}) => {
    return await request.post({ url: `${baseURL}/create`, data })
  },

  // Modify ${table.classComment}
  update${simpleClassName}: async (data: ${simpleClassName}) => {
    return await request.put({ url: `${baseURL}/update`, data })
  },

  // Delete ${table.classComment}
  delete${simpleClassName}: async (id: number) => {
    return await request.delete({ url: `${baseURL}/delete?id=` + id })
  },

#if ( $table.templateType != 2 && $deleteBatchEnable)
  /** Batch delete ${table.classComment} */
  delete${simpleClassName}List: async (ids: number[]) => {
    return await request.delete({ url: `${baseURL}/delete-list?ids=${ids.join(',')}` })
  },
#end

  // Export ${table.classComment} Excel
  export${simpleClassName}: async (params) => {
    return await request.download({ url: `${baseURL}/export-excel`, params })
  },
## Special: Exclusive logic for master and sub-tables
#foreach ($subTable in $subTables)
#set ($index = $foreach.count - 1)
#set ($subSimpleClassName = $subSimpleClassNames.get($index))
#set ($subPrimaryColumn = $subPrimaryColumns.get($index))##Current primary field
#set ($subJoinColumn = $subJoinColumns.get($index))##Current join field
#set ($SubJoinColumnName = $subJoinColumn.javaField.substring(0,1).toUpperCase() + ${subJoinColumn.javaField.substring(1)})##Capitalize first letter
#set ($subSimpleClassName_strikeCase = $subSimpleClassName_strikeCases.get($index))
#set ($subJoinColumn_strikeCase = $subJoinColumn_strikeCases.get($index))
#set ($subClassNameVar = $subClassNameVars.get($index))

// ==================== Subtable ($subTable.classComment) ====================
## Situation 1: When MASTER_ERP is used, page subtables need to be queried separately.
#if ( $table.templateType == 11 )

  // Get ${subTable.classComment} pagination
  get${subSimpleClassName}Page: async (params) => {
    return await request.get({ url: `${baseURL}/${subSimpleClassName_strikeCase}/page`, params })
  },
## Scenario 2: When it is not MASTER_ERP, you need to query the subtable in a list
#else
  #if ( $subTable.subJoinMany )

  // Get ${subTable.classComment} list
  get${subSimpleClassName}ListBy${SubJoinColumnName}: async (${subJoinColumn.javaField}) => {
    return await request.get({ url: `${baseURL}/${subSimpleClassName_strikeCase}/list-by-${subJoinColumn_strikeCase}?${subJoinColumn.javaField}=` + ${subJoinColumn.javaField} })
  },
  #else

  // Get ${subTable.classComment}
  get${subSimpleClassName}By${SubJoinColumnName}: async (${subJoinColumn.javaField}) => {
    return await request.get({ url: `${baseURL}/${subSimpleClassName_strikeCase}/get-by-${subJoinColumn_strikeCase}?${subJoinColumn.javaField}=` + ${subJoinColumn.javaField} })
  },
  #end
#end
## Special: MASTER_ERP supports single add, modify, and delete operations
#if ( $table.templateType == 11 )
  // Added ${subTable.classComment}
  create${subSimpleClassName}: async (data: ${subSimpleClassName}) => {
    return await request.post({ url: `${baseURL}/${subSimpleClassName_strikeCase}/create`, data })
  },

  // Modify ${subTable.classComment}
  update${subSimpleClassName}: async (data: ${subSimpleClassName}) => {
    return await request.put({ url: `${baseURL}/${subSimpleClassName_strikeCase}/update`, data })
  },

  // Delete ${subTable.classComment}
  delete${subSimpleClassName}: async (id: number) => {
    return await request.delete({ url: `${baseURL}/${subSimpleClassName_strikeCase}/delete?id=` + id })
  },

  #if ($deleteBatchEnable)
  /** Batch delete ${subTable.classComment} */
  delete${subSimpleClassName}List: async (ids: number[]) => {
    return await request.delete({ url: `${baseURL}/${subSimpleClassName_strikeCase}/delete-list?ids=${ids.join(',')}` })
  },
  #end

  // Get ${subTable.classComment}
  get${subSimpleClassName}: async (id: number) => {
    return await request.get({ url: `${baseURL}/${subSimpleClassName_strikeCase}/get?id=` + id })
  },
#end
#end
}
