<template>
  <div class="app-container">
    <!-- Search workbar -->
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
#foreach($column in $columns)
#if ($column.listOperation)
    #set ($dictType=$column.dictType)
    #set ($javaField = $column.javaField)
    #set ($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
    #set ($comment=$column.columnComment)
#if ($column.htmlType == "input")
      <el-form-item label="${comment}" prop="${javaField}">
        <el-input v-model="queryParams.${javaField}" placeholder="Please enter ${comment}" clearable @keyup.enter.native="handleQuery"/>
      </el-form-item>
#elseif ($column.htmlType == "select" || $column.htmlType == "radio")
      <el-form-item label="${comment}" prop="${javaField}">
        <el-select v-model="queryParams.${javaField}" placeholder="Please select ${comment}" clearable size="small">
    #if ("" != $dictType)## When the dictType data dict is set
          <el-option v-for="dict in this.getDictDatas(DICT_TYPE.$dictType.toUpperCase())"
                       :key="dict.value" :label="dict.label" :value="dict.value"/>
    #else## When the dictType data dict is not set
          <el-option label="Please select dict generation" value="" />
    #end
        </el-select>
      </el-form-item>
#elseif($column.htmlType == "datetime")
    #if ($column.listOperationCondition != "BETWEEN")## out of scope
      <el-form-item label="${comment}" prop="${javaField}">
        <el-date-picker clearable v-model="queryParams.${javaField}" type="date" value-format="yyyy-MM-dd" placeholder="Select ${comment}" />
      </el-form-item>
    #else## scope
      <el-form-item label="${comment}" prop="${javaField}">
        <el-date-picker v-model="queryParams.${javaField}" style="width: 240px" value-format="yyyy-MM-dd HH:mm:ss" type="daterange"
                        range-separator="-" start-placeholder="start date" end-placeholder="end date" :default-time="['00:00:00', '23:59:59']" />
      </el-form-item>
    #end
#end
#end
#end
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="handleQuery">Search</el-button>
        <el-button icon="el-icon-refresh" @click="resetQuery">reset</el-button>
      </el-form-item>
    </el-form>

    <!-- Operation toolbar -->
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" plain icon="el-icon-plus" size="mini" @click="openForm(undefined)"
                   v-hasPermi="['${permissionPrefix}:create']">Add</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="warning" plain icon="el-icon-download" size="mini" @click="handleExport" :loading="exportLoading"
                   v-hasPermi="['${permissionPrefix}:export']">Export</el-button>
      </el-col>
    ## Special: tree table exclusive logic
    #if ( $table.templateType == 2 )
      <el-col :span="1.5">
        <el-button type="danger" plain icon="el-icon-sort" size="mini" @click="toggleExpandAll">
          expand/collapse
        </el-button>
      </el-col>
    #end
    #if ($table.templateType != 2 && $deleteBatchEnable)
      <el-col :span="1.5">
        <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="isEmpty(checkedIds)"
            @click="handleDeleteBatch"
            v-hasPermi="['${permissionPrefix}:delete']"
        >
          Batch delete
        </el-button>
      </el-col>
    #end
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

      ## Special: Exclusive logic for master and sub-tables
      #if ( $table.templateType == 11 && $subTables && $subTables.size() > 0 )
      <el-table
        row-key="id"
        v-loading="loading"
        :data="list"
        :stripe="true"
        :highlight-current-row="true"
        :show-overflow-tooltip="true"
        @current-change="handleCurrentChange"
        #if ($deleteBatchEnable)
        @selection-change="handleRowCheckboxChange"
        #end
      >
          ## Special: tree table exclusive logic
      #elseif ( $table.templateType == 2 )
      <el-table
        v-loading="loading"
        :data="list"
        :stripe="true"
        :show-overflow-tooltip="true"
        v-if="refreshTable"
        row-key="id"
        :default-expand-all="isExpandAll"
        :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
      >
      #else
      <el-table
          v-loading="loading"
          :data="list"
          :stripe="true"
          :show-overflow-tooltip="true"
          #if ($deleteBatchEnable)
          @selection-change="handleRowCheckboxChange"
          #end
      >
      #end
      #if ($table.templateType != 2 && $deleteBatchEnable)
        <el-table-column type="selection" width="55" />
      #end
      ## Special: Exclusive logic for master and sub-tables
      #if ( $table.templateType == 12 && $subTables && $subTables.size() > 0 )
        <!-- List of child tables -->
        <el-table-column type="expand">
          <template #default="scope">
            <el-tabs value="$subClassNameVars.get(0)">
                #foreach ($subTable in $subTables)
                    #set ($index = $foreach.count - 1)
                    #set ($subClassNameVar = $subClassNameVars.get($index))
                    #set ($subSimpleClassName = $subSimpleClassNames.get($index))
                    #set ($subJoinColumn_strikeCase = $subJoinColumn_strikeCases.get($index))
                  <el-tab-pane label="${subTable.classComment}" name="$subClassNameVar">
                    <${subSimpleClassName}List :${subJoinColumn_strikeCase}="scope.row.id" />
                  </el-tab-pane>
                #end
            </el-tabs>
          </template>
        </el-table-column>
      #end
#foreach($column in $columns)
#if ($column.listOperationResult)
    #set ($dictType=$column.dictType)
    #set ($javaField = $column.javaField)
    #set ($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
    #set ($comment=$column.columnComment)
#if ($column.javaType == "LocalDateTime")## time type
      <el-table-column label="${comment}" align="center" prop="${javaField}" width="180">
        <template v-slot="scope">
          <span>{{ parseTime(scope.row.${javaField}) }}</span>
        </template>
      </el-table-column>
#elseif("" != $column.dictType)## data dict
      <el-table-column label="${comment}" align="center" prop="${javaField}">
        <template v-slot="scope">
          <dict-tag :type="DICT_TYPE.$dictType.toUpperCase()" :value="scope.row.${column.javaField}" />
        </template>
      </el-table-column>
#else
      <el-table-column label="${comment}" align="center" prop="${javaField}" />
#end
#end
#end
      <el-table-column label="Operation" align="center" class-name="small-padding fixed-width">
        <template v-slot="scope">
          <el-button size="mini" type="text" icon="el-icon-edit" @click="openForm(scope.row.${primaryColumn.javaField})"
                     v-hasPermi="['${permissionPrefix}:update']">Modify</el-button>
          <el-button size="mini" type="text" icon="el-icon-delete" @click="handleDelete(scope.row)"
                     v-hasPermi="['${permissionPrefix}:delete']">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
## Special: Exclusive logic for tree tables (trees DO not require paging)
#if ( $table.templateType != 2 )
    <!-- Pagination component -->
    <pagination v-show="total > 0" :total="total" :page.sync="queryParams.pageNo" :limit.sync="queryParams.pageSize"
                @pagination="getList"/>
#end
    <!-- Dialog (Add/Modify) -->
    <${simpleClassName}Form ref="formRef" @success="getList" />
  ## Special: Exclusive logic for master and sub-tables
  #if ( $table.templateType == 11 && $subTables && $subTables.size() > 0 )
    <!-- List of child tables -->
      <el-tabs v-model="subTabsName">
          #foreach ($subTable in $subTables)
              #set ($index = $foreach.count - 1)
              #set ($subClassNameVar = $subClassNameVars.get($index))
              #set ($subSimpleClassName = $subSimpleClassNames.get($index))
              #set ($subJoinColumn_strikeCase = $subJoinColumn_strikeCases.get($index))
            <el-tab-pane label="${subTable.classComment}" name="$subClassNameVar">
              <${subSimpleClassName}List v-if="currentRow.id" :${subJoinColumn_strikeCase}="currentRow.id" />
            </el-tab-pane>
          #end
      </el-tabs>
  #end
  </div>
</template>

<script>
import * as ${simpleClassName}Api from '@/api/${table.moduleName}/${table.businessName}';
import ${simpleClassName}Form from './${simpleClassName}Form.vue';
#if ($hasImageUploadColumn)
import ImageUpload from '@/components/ImageUpload';
#end
#if ($hasFileUploadColumn)
import FileUpload from '@/components/FileUpload';
#end
#if ($hasEditorColumn)
import Editor from '@/components/Editor';
#end
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType != 10 )
#if ( $subTables && $subTables.size() > 0 )
    #foreach ($subSimpleClassName in $subSimpleClassNames)
    import ${subSimpleClassName}List from './components/${subSimpleClassName}List.vue';
    #end
#end
#end
export default {
  name: "${simpleClassName}",
  components: {
          ${simpleClassName}Form,
## Special: Exclusive logic for master and sub-tables
#if ( $table.templateType != 10 )
#if ( $subTables && $subTables.size() > 0 )
      #foreach ($subSimpleClassName in $subSimpleClassNames)
          ${subSimpleClassName}List,
      #end
#end
#end
#if ($hasImageUploadColumn)
    ImageUpload,
#end
#if ($hasFileUploadColumn)
    FileUpload,
#end
#if ($hasEditorColumn)
    Editor,
#end
  },
  data() {
    return {
      // mask layer
      loading: true,
      // Export mask layer
      exportLoading: false,
      // Show search criteria
      showSearch: true,
      ## Special: Exclusive logic for tree tables (trees DO not require paging API)
      #if ( $table.templateType != 2 )
        // Total ID of items
        total: 0,
      #end
      // ${table.classComment} list
      list: [],
      // Whether to expand, expand all by default
      isExpandAll: true,
      // Re-render table state
      refreshTable: true,
      // Select row
      currentRow: {},
      checkedIds: [],
      // query parameters
      queryParams: {
        ## Special: Exclusive logic for tree tables (trees DO not require paging API)
        #if ( $table.templateType != 2 )
            pageNo: 1,
            pageSize: 10,
        #end
        #foreach ($column in $columns)
        #if ($column.listOperation)
        #if ($column.listOperationCondition != 'BETWEEN')
        $column.javaField: null,
        #end
        #if ($column.htmlType == "datetime" && $column.listOperationCondition == "BETWEEN")
        $column.javaField: [],
        #end
        #end
        #end
      },
        ## Special: Exclusive logic for master and sub-tables-erp
        #if ( $table.templateType == 11)
            #if ( $subTables && $subTables.size() > 0 )
              /** List of child tables */
              subTabsName: '$subClassNameVars.get(0)'
            #end
        #end
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** query list */
    async getList() {
      try {
      this.loading = true;
      ## Special: Exclusive logic for tree tables (trees DO not require paging API)
      #if ( $table.templateType == 2 )
       const res = await ${simpleClassName}Api.get${simpleClassName}List(this.queryParams);
       this.list = this.handleTree(res.data, 'id', '${treeParentColumn.javaField}');
      #else
        const res = await ${simpleClassName}Api.get${simpleClassName}Page(this.queryParams);
        this.list = res.data.list;
        this.total = res.data.total;
      #end
      } finally {
        this.loading = false;
      }
    },
    /** Search button action */
    handleQuery() {
      this.queryParams.pageNo = 1;
      this.getList();
    },
    /** reset button action */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** Add/modify operations */
    openForm(id) {
      this.#[[$]]#refs["formRef"].open(id);
    },
    /** Delete button action */
    async handleDelete(row) {
      const ${primaryColumn.javaField} = row.${primaryColumn.javaField};
      await this.#[[$modal]]#.confirm('Are you sure to delete ${table.classComment} IDed "' + ${primaryColumn.javaField} + '"data item?')
      try {
       await ${simpleClassName}Api.delete${simpleClassName}(${primaryColumn.javaField});
       await this.getList();
       this.#[[$modal]]#.msgSuccess("Delete successfully");
      } catch {}
    },
    #if ($table.templateType != 2 && $deleteBatchEnable)
    /** Batch delete ${table.classComment} */
    async handleDeleteBatch() {
      await this.#[[$modal]]#.confirm('Confirm deletion?')
      try {
        await ${simpleClassName}Api.delete${simpleClassName}List(this.checkedIds);
        this.checkedIds = [];
        await this.getList();
        this.#[[$modal]]#.msgSuccess("Delete successfully");
      } catch {}
    },
    handleRowCheckboxChange(records) {
      this.checkedIds = records.map((item) => item.id);
    },
    #end
    /** Export button action */
    async handleExport() {
      await this.#[[$modal]]#.confirm('Are you sure to export all ${table.classComment} data items?');
      try {
        this.exportLoading = true;
        const data = await ${simpleClassName}Api.export${simpleClassName}Excel(this.queryParams);
        this.#[[$]]#download.excel(data, '${table.classComment}.xls');
      } catch {
      } finally {
        this.exportLoading = false;
      }
    },
      ## Special: Exclusive logic for master and sub-tables
      #if ( $table.templateType == 11 )
        /** Select row operation */
        handleCurrentChange(row) {
         this.currentRow = row;
        #if ( $subTables && $subTables.size() > 0 )
          /** List of child tables */
          this.subTabsName = '$subClassNameVars.get(0)';
        #end
        },
      #end
      ## Special: tree table exclusive logic
      #if ( $table.templateType == 2 )
        /** Expand/collapse operations */
        toggleExpandAll() {
          this.refreshTable = false
          this.isExpandAll = !this.isExpandAll
          this.$nextTick(function () {
            this.refreshTable = true
          })
        }
      #end
  }
};
</script>
