#set ($apiName = "${table.moduleName.substring(0,1).toUpperCase()}${table.moduleName.substring(1)}${simpleClassName}Api")
import type { VbenFormSchema } from '#/adapter/form';
import type { VxeTableGridOptions } from '#/adapter/vxe-table';
import type { ${apiName} } from '#/api/${table.moduleName}/${table.businessName}';

import { DICT_TYPE } from '@vben/constants';
import { getDictOptions } from '@vben/hooks';
#if(${table.templateType} == 2)## The tree table needs to import these
import { get${simpleClassName}List } from '#/api/${table.moduleName}/${table.businessName}';
import { handleTree } from '@vben/utils';
#end

import { getRangePickerDefaultProps } from '#/utils';

/** New/modified forms */
export function useFormSchema(): VbenFormSchema[] {
  return [
    {
      fieldName: 'id',
      component: 'Input',
      dependencies: {
        triggerFields: [''],
        show: () => false,
      },
    },
#if(${table.templateType} == 2)## Tree table-specific fields: superior
    {
      fieldName: '${treeParentColumn.javaField}',
      label: 'Superior${table.classComment}',
      component: 'ApiTreeSelect',
      componentProps: {
        allowClear: true,
        api: async () => {
          const data = await get${simpleClassName}List({});
          data.unshift({
            id: 0,
            ${treeNameColumn.javaField}: 'Top ${table.classComment}',
          });
          return handleTree(data);
        },
        labelField: '${treeNameColumn.javaField}',
        valueField: 'id',
        childrenField: 'children',
        placeholder: 'Please select the superior ${table.classComment}',
        treeDefaultExpandAll: true,
      },
      rules: 'selectRequired',
    },
#end
#foreach($column in $columns)
#if ($column.createOperation || $column.updateOperation)
#if (!$column.primaryKey && ($table.templateType != 2 || ($table.templateType == 2 && $column.id != $treeParentColumn.id)))## The parent ID field has been added to the tree table and is excluded here.
  #set ($dictType = $column.dictType)
  #set ($javaType = $column.javaType)
  #set ($javaField = $column.javaField)
  #set ($comment = $column.columnComment)
  #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
    #set ($dictMethod = "number")
  #elseif ($javaType == "String")
    #set ($dictMethod = "string")
  #elseif ($javaType == "Boolean")
    #set ($dictMethod = "boolean")
  #end
    {
      fieldName: '${javaField}',
      label: '${comment}',
  #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
      rules: 'required',
  #end
  #if ($column.htmlType == "input")
      component: 'Input',
      componentProps: {
        placeholder: 'Please enter ${comment}',
      },
  #elseif($column.htmlType == "imageUpload")## Image upload
      component: 'ImageUpload',
  #elseif($column.htmlType == "fileUpload")## File upload
      component: 'FileUpload',
  #elseif($column.htmlType == "editor")## text editor
      component: 'RichTextarea',
  #elseif($column.htmlType == "select")## Select box
      component: 'Select',
      componentProps: {
        #if ("" != $dictType)## There is a data dict
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
        #else##No data dict
        options: [],
        #end
        placeholder: 'Please select ${comment}',
      },
  #elseif($column.htmlType == "checkbox")## checkbox
      component: 'Checkbox',
      componentProps: {
        #if ("" != $dictType)## There is a data dict
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
        #else##No data dict
        options: [],
        #end
      },
  #elseif($column.htmlType == "radio")## Radio button
      component: 'RadioGroup',
      componentProps: {
        #if ("" != $dictType)## There is a data dict
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
        #else##No data dict
        options: [],
        #end
        buttonStyle: 'solid',
        optionType: 'button',
      },
  #elseif($column.htmlType == "datetime")## time box
      component: 'DatePicker',
      componentProps: {
        showTime: true,
        format: 'YYYY-MM-DD HH:mm:ss',
        valueFormat: 'x',
      },
  #elseif($column.htmlType == "textarea")## Textarea
      component: 'Textarea',
      componentProps: {
        placeholder: 'Please enter ${comment}',
      },
  #elseif($column.htmlType == "inputNumber")## ID input box
      component: 'InputNumber',
      componentProps: {
        min: 0,
        placeholder: 'Please enter ${comment}',
      },
  #end
    },
#end
#end
#end
  ];
}

/** search form for list */
export function useGridFormSchema(): VbenFormSchema[] {
  return [
#foreach($column in $columns)
#if ($column.listOperation)
  #set ($dictType = $column.dictType)
  #set ($javaType = $column.javaType)
  #set ($javaField = $column.javaField)
  #set ($comment = $column.columnComment)
  #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
    #set ($dictMethod = "number")
  #elseif ($javaType == "String")
    #set ($dictMethod = "string")
  #elseif ($javaType == "Boolean")
    #set ($dictMethod = "boolean")
  #end
    {
      fieldName: '${javaField}',
      label: '${comment}',
  #if ($column.htmlType == "input" || $column.htmlType == "textarea" || $column.htmlType == "editor")
      component: 'Input',
      componentProps: {
        allowClear: true,
        placeholder: 'Please enter ${comment}',
      },
  #elseif ($column.htmlType == "select" || $column.htmlType == "radio")
      component: 'Select',
      componentProps: {
        allowClear: true,
        #if ("" != $dictType)## When the dictType data dict is set
        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
        #else## When the dictType data dict is not set
        options: [],
        #end
        placeholder: 'Please select ${comment}',
      },
  #elseif($column.htmlType == "datetime")
      component: 'RangePicker',
      componentProps: {
        ...getRangePickerDefaultProps(),
        allowClear: true,
      },
  #end
    },
#end
#end
  ];
}

/** list fields */
export function useGridColumns(): VxeTableGridOptions<${apiName}.${simpleClassName}>['columns'] {
  return [
#if ($table.templateType != 2 && $deleteBatchEnable)
  { type: 'checkbox', width: 40 },
#end
#if ($table.templateType == 12) ## Embedded situation
      { type: 'expand', width: 80, slots: { content: 'expand_content' } },
#end
#foreach($column in $columns)
#if ($column.listOperationResult)
  #set ($dictType = $column.dictType)
  #set ($javaField = $column.javaField)
  #set ($comment = $column.columnComment)
    {
      field: '${javaField}',
      title: '${comment}',
      minWidth: 120,
  #if ($column.javaType == "LocalDateTime")## time type
      formatter: 'formatDateTime',
  #elseif("" != $dictType)## data dict
      cellRender: {
        name: 'CellDict',
        props: { type: DICT_TYPE.$dictType.toUpperCase() },
      },
  #end
  #if (${table.templateType} == 2 && $column.id == $treeNameColumn.id)## Unique to tree tables: mark tree node columns
      treeNode: true,
  #end
    },
#end
#end
    {
      title: 'Operation',
      width: 200,
      fixed: 'right',
      slots: { default: 'actions' },
    },
  ];
}

## In standard mode and embedded mode, the form schema is generated for one-to-one master-child relationship, and the list schema is generated for one-to-many (the form schema must also be generated in embedded mode). Generated in erp mode
## Special: Exclusive logic for master and sub-tables
#foreach ($subTable in $subTables)
    #set ($index = $foreach.count - 1)
    #set ($subColumns = $subColumnsList.get($index))##Current field array
    #set ($subSimpleClassName = $subSimpleClassNames.get($index))
    #set ($subJoinColumn = $subJoinColumns.get($index))##Current join field
    #set ($subSimpleClassName_strikeCase = $subSimpleClassName_strikeCases.get($index))
// ==================== Subtable ($subTable.classComment) ====================

#if ($table.templateType == 11) ## erp situation
/** New/modified forms */
export function use${subSimpleClassName}FormSchema(): VbenFormSchema[] {
    return [
        {
            fieldName: 'id',
            component: 'Input',
            dependencies: {
                triggerFields: [''],
                show: () => false,
            },
        },
        #foreach($column in $subColumns)
            #if ($column.createOperation || $column.updateOperation)
                #if (!$column.primaryKey && ($table.templateType != 2 || ($table.templateType == 2 && $column.id != $treeParentColumn.id)))## The parent ID field has been added to the tree table and is excluded here.
                    #set ($dictType = $column.dictType)
                    #set ($javaType = $column.javaType)
                    #set ($javaField = $column.javaField)
                    #set ($comment = $column.columnComment)
                    #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                        #set ($dictMethod = "number")
                    #elseif ($javaType == "String")
                        #set ($dictMethod = "string")
                    #elseif ($javaType == "Boolean")
                        #set ($dictMethod = "boolean")
                    #end
                    #if ( $column.id == $subJoinColumn.id) ## Special: Ignore the join field of the master and child tables and DO not need to fill it in.
                    #else
                        {
                            fieldName: '${javaField}',
                            label: '${comment}',
                            #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
                                rules: 'required',
                            #end
                            #if ($column.htmlType == "input")
                                component: 'Input',
                                componentProps: {
                                    placeholder: 'Please enter ${comment}',
                                },
                            #elseif($column.htmlType == "imageUpload")## Image upload
                                component: 'ImageUpload',
                            #elseif($column.htmlType == "fileUpload")## File upload
                                component: 'FileUpload',
                            #elseif($column.htmlType == "editor")## text editor
                                component: 'RichTextarea',
                            #elseif($column.htmlType == "select")## Select box
                                component: 'Select',
                                componentProps: {
                                    #if ("" != $dictType)## There is a data dict
                                        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                    #else##No data dict
                                        options: [],
                                    #end
                                    placeholder: 'Please select ${comment}',
                                },
                            #elseif($column.htmlType == "checkbox")## checkbox
                                component: 'Checkbox',
                                componentProps: {
                                    #if ("" != $dictType)## There is a data dict
                                        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                    #else##No data dict
                                        options: [],
                                    #end
                                },
                            #elseif($column.htmlType == "radio")## Radio button
                                component: 'RadioGroup',
                                componentProps: {
                                    #if ("" != $dictType)## There is a data dict
                                        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                    #else##No data dict
                                        options: [],
                                    #end
                                    buttonStyle: 'solid',
                                    optionType: 'button',
                                },
                            #elseif($column.htmlType == "datetime")## time box
                                component: 'DatePicker',
                                componentProps: {
                                    showTime: true,
                                    format: 'YYYY-MM-DD HH:mm:ss',
                                    valueFormat: 'x',
                                },
                            #elseif($column.htmlType == "textarea")## Textarea
                                component: 'Textarea',
                                componentProps: {
                                    placeholder: 'Please enter ${comment}',
                                },
                            #elseif($column.htmlType == "inputNumber")## ID input box
                                component: 'InputNumber',
                                componentProps: {
                                    min: 0,
                                    placeholder: 'Please enter ${comment}',
                                },
                            #end
                        },
                    #end
                #end
            #end
        #end
    ];
}

/** search form for list */
export function use${subSimpleClassName}GridFormSchema(): VbenFormSchema[] {
    return [
        #foreach($column in $subColumns)
            #if ($column.listOperation)
                #set ($dictType = $column.dictType)
                #set ($javaType = $column.javaType)
                #set ($javaField = $column.javaField)
                #set ($comment = $column.columnComment)
                #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                    #set ($dictMethod = "number")
                #elseif ($javaType == "String")
                    #set ($dictMethod = "string")
                #elseif ($javaType == "Boolean")
                    #set ($dictMethod = "boolean")
                #end
                {
                    fieldName: '${javaField}',
                    label: '${comment}',
                    #if ($column.htmlType == "input" || $column.htmlType == "textarea" || $column.htmlType == "editor")
                        component: 'Input',
                        componentProps: {
                            allowClear: true,
                            placeholder: 'Please enter ${comment}',
                        },
                    #elseif ($column.htmlType == "select" || $column.htmlType == "radio")
                        component: 'Select',
                        componentProps: {
                            allowClear: true,
                            #if ("" != $dictType)## When the dictType data dict is set
                                options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                            #else## When the dictType data dict is not set
                                options: [],
                            #end
                            placeholder: 'Please select ${comment}',
                        },
                    #elseif($column.htmlType == "datetime")
                        component: 'RangePicker',
                        componentProps: {
                            ...getRangePickerDefaultProps(),
                            allowClear: true,
                        },
                    #end
                },
            #end
        #end
    ];
}

/** list fields */
export function use${subSimpleClassName}GridColumns(): VxeTableGridOptions<${apiName}.${subSimpleClassName}>['columns'] {
    return [
        #if ($table.templateType != 2 && $deleteBatchEnable)
            { type: 'checkbox', width: 40 },
        #end
        #foreach($column in $subColumns)
            #if ($column.listOperationResult)
                #set ($dictType = $column.dictType)
                #set ($javaField = $column.javaField)
                #set ($comment = $column.columnComment)
                {
                    field: '${javaField}',
                    title: '${comment}',
                    minWidth: 120,
                    #if ($column.javaType == "LocalDateTime")## time type
                        formatter: 'formatDateTime',
                    #elseif("" != $dictType)## data dict
                        cellRender: {
                            name: 'CellDict',
                            props: { type: DICT_TYPE.$dictType.toUpperCase() },
                        },
                    #end
                },
            #end
        #end
        {
            title: 'Operation',
            width: 200,
            fixed: 'right',
            slots: { default: 'actions' },
        },
    ];
}

#else
    #if ($subTable.subJoinMany) ## one to many
    /** Add/modify list fields */
    export function use${subSimpleClassName}GridEditColumns(): VxeTableGridOptions<${apiName}.${subSimpleClassName}>['columns'] {
        return [
            #foreach($column in $subColumns)
                #if ($column.createOperation || $column.updateOperation)
                    #if (!$column.primaryKey && $column.listOperationResult && $column.id != $subJoinColumn.id) ## Special: Ignore the join field of the master and child tables and DO not need to fill it in.
                        #set ($dictType = $column.dictType)
                        #set ($javaField = $column.javaField)
                        #set ($comment = $column.columnComment)
                        #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                            #set ($dictMethod = "number")
                        #elseif ($javaType == "String")
                            #set ($dictMethod = "string")
                        #elseif ($javaType == "Boolean")
                            #set ($dictMethod = "boolean")
                        #end
                        {
                            field: '${javaField}',
                            title: '${comment}',
                            minWidth: 120,
                            slots: { default: '${javaField}' },
                            #if ($column.htmlType == "select" || $column.htmlType == "checkbox" || $column.htmlType == "radio")
                                #if ("" != $dictType)## There is a data dict
                                    params: {
                                        options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                    },
                                #else
                                    params: {
                                        options: [],
                                    },
                                #end
                            #end
                        },
                    #end
                #end
            #end
            {
                title: 'Operation',
                width: 200,
                fixed: 'right',
                slots: { default: 'actions' },
            },
        ];
    }

    #else
    /** New/modified forms */
    export function use${subSimpleClassName}FormSchema(): VbenFormSchema[] {
        return [
            {
                fieldName: 'id',
                component: 'Input',
                dependencies: {
                    triggerFields: [''],
                    show: () => false,
                },
            },
            #foreach($column in $subColumns)
                #if ($column.createOperation || $column.updateOperation)
                    #if (!$column.primaryKey && ($table.templateType != 2 || ($table.templateType == 2 && $column.id != $treeParentColumn.id)))## The parent ID field has been added to the tree table and is excluded here.
                        #set ($dictType = $column.dictType)
                        #set ($javaType = $column.javaType)
                        #set ($javaField = $column.javaField)
                        #set ($comment = $column.columnComment)
                        #if ($javaType == "Integer" || $javaType == "Long" || $javaType == "Byte" || $javaType == "Short")
                            #set ($dictMethod = "number")
                        #elseif ($javaType == "String")
                            #set ($dictMethod = "string")
                        #elseif ($javaType == "Boolean")
                            #set ($dictMethod = "boolean")
                        #end
                        #if ( $column.id == $subJoinColumn.id) ## Special: Ignore the join field of the master and child tables and DO not need to fill it in.
                        #else
                            {
                                fieldName: '${javaField}',
                                label: '${comment}',
                                #if (($column.createOperation || $column.updateOperation) && !$column.nullable && !${column.primaryKey})## Create or update operations && Requires non-empty && non-primary key
                                    rules: 'required',
                                #end
                                #if ($column.htmlType == "input")
                                    component: 'Input',
                                    componentProps: {
                                        placeholder: 'Please enter ${comment}',
                                    },
                                #elseif($column.htmlType == "imageUpload")## Image upload
                                    component: 'ImageUpload',
                                #elseif($column.htmlType == "fileUpload")## File upload
                                    component: 'FileUpload',
                                #elseif($column.htmlType == "editor")## text editor
                                    component: 'RichTextarea',
                                #elseif($column.htmlType == "select")## Select box
                                    component: 'Select',
                                    componentProps: {
                                        #if ("" != $dictType)## There is a data dict
                                            options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                        #else##No data dict
                                            options: [],
                                        #end
                                        placeholder: 'Please select ${comment}',
                                    },
                                #elseif($column.htmlType == "checkbox")## checkbox
                                    component: 'Checkbox',
                                    componentProps: {
                                        #if ("" != $dictType)## There is a data dict
                                            options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                        #else##No data dict
                                            options: [],
                                        #end
                                    },
                                #elseif($column.htmlType == "radio")## Radio button
                                    component: 'RadioGroup',
                                    componentProps: {
                                        #if ("" != $dictType)## There is a data dict
                                            options: getDictOptions(DICT_TYPE.$dictType.toUpperCase(), '$dictMethod'),
                                        #else##No data dict
                                            options: [],
                                        #end
                                        buttonStyle: 'solid',
                                        optionType: 'button',
                                    },
                                #elseif($column.htmlType == "datetime")## time box
                                    component: 'DatePicker',
                                    componentProps: {
                                        showTime: true,
                                        format: 'YYYY-MM-DD HH:mm:ss',
                                        valueFormat: 'x',
                                    },
                                #elseif($column.htmlType == "textarea")## Textarea
                                    component: 'Textarea',
                                    componentProps: {
                                        placeholder: 'Please enter ${comment}',
                                    },
                                #elseif($column.htmlType == "inputNumber")## ID input box
                                    component: 'InputNumber',
                                    componentProps: {
                                        min: 0,
                                        placeholder: 'Please enter ${comment}',
                                    },
                                #end
                            },
                        #end
                    #end
                #end
            #end
        ];
    }

    #end
    #if ($table.templateType == 12) ## Embedded situation
    /** list fields */
    export function use${subSimpleClassName}GridColumns(): VxeTableGridOptions<${simpleClassName}Api.${subSimpleClassName}>['columns'] {
        return [
            #foreach($column in $subColumns)
                #if ($column.listOperationResult)
                    #set ($dictType = $column.dictType)
                    #set ($javaField = $column.javaField)
                    #set ($comment = $column.columnComment)
                    {
                        field: '${javaField}',
                        title: '${comment}',
                        minWidth: 120,
                        #if ($column.javaType == "LocalDateTime")## time type
                            formatter: 'formatDateTime',
                        #elseif("" != $dictType)## data dict
                            cellRender: {
                                name: 'CellDict',
                                props: { type: DICT_TYPE.$dictType.toUpperCase() },
                            },
                        #end
                    },
                #end
            #end
        ];
    }
    #end
#end
#end